professional_full:
  class: sfDoctrineRouteCollection
  options:
    model:                Professional
    module:               professional_full
    prefix_path:          /professional_full
    column:               id
    with_wildcard_routes: true

contact_entry_by_contact:
  class: sfDoctrineRouteCollection
  options:
    model:                ContactEntry
    module:               contact_entry_by_contact
    prefix_path:          /contact_entry_by_contact
    column:               id
    with_wildcard_routes: true

group_workspace:
  class: sfDoctrineRouteCollection
  options:
    model:                GroupWorkspace
    module:               group_workspace
    prefix_path:          /group_workspace
    column:               id
    with_wildcard_routes: true

professional:
  class: sfDoctrineRouteCollection
  options:
    model:                Professional
    module:               professional
    prefix_path:          /professional
    column:               id
    with_wildcard_routes: true

entry_tickets:
  class: sfDoctrineRouteCollection
  options:
    model:                EntryTickets
    module:               entry_tickets
    prefix_path:          /entry_tickets
    column:               id
    with_wildcard_routes: true

entry_element:
  class: sfDoctrineRouteCollection
  options:
    model:                EntryElement
    module:               entry_element
    prefix_path:          /entry_element
    column:               id
    with_wildcard_routes: true

manifestation_entry:
  class: sfDoctrineRouteCollection
  options:
    model:                ManifestationEntry
    module:               manifestation_entry
    prefix_path:          /manifestation_entry
    column:               id
    with_wildcard_routes: true

contact_entry:
  class: sfDoctrineRouteCollection
  options:
    model:                ContactEntry
    module:               contact_entry
    prefix_path:          /contact_entry
    column:               id
    with_wildcard_routes: true

entry:
  class: sfDoctrineRouteCollection
  options:
    model:                Entry
    module:               entry
    prefix_path:          /entry
    column:               id
    with_wildcard_routes: true

event:
  class: sfDoctrineRouteCollection
  options:
    model:                Event
    module:               event
    prefix_path:          /event
    column:               id
    with_wildcard_routes: true

# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
homepage:
  url:   /
  param: { module: event, action: index }

# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*
