# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  failover:
    #enable: false
    emails: [admin@libre-informatique.fr]
    #warning: 1 minutes 20 seconds
    #timeout: 2 minutes 30 seconds
    triggers:
      slave: /tmp/e-venement.trigger.5432 # must match the PostgreSQL SLAVE recovery configuration
      master: <?php echo sfConfig::get('sf_cache_dir') ?>/e-venement.failover.trigger
