/cache/*
/log/*
/lib/form/doctrine/base
/lib/form/doctrine/*/base
/lib/filter/doctrine/base
/lib/filter/doctrine/*/base
/lib/model/doctrine/base
/lib/model/doctrine/*/base
/lib/model/doctrine/packages/base
/lib/model/doctrine/packages/*/base
/web/private/*
/web/uploads/*
/data/sql/*

/apps/email/config/app.yml
/apps/pos/config/app.yml
/apps/default/config/app.yml
/apps/museum/config/app.yml
/apps/event/config/app.yml
/apps/event/config/factories.yml
/apps/grp/config/app.yml
/apps/pub/config/app.yml
/apps/pub/config/factories.yml
/apps/rp/config/app.yml
/apps/rp/config/factories.yml
/apps/stats/config/app.yml
/apps/tck/config/app.yml
/apps/tck/config/factories.yml
/apps/ws/config/app.yml
/apps/ws/config/factories.yml
/config/autoload.inc.php
/config/databases.yml
/config/project.yml
/config/properties.ini
/config/private
