# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  tickets:
    mentions:
      optional: licences: 350970 / 350971 / 350972
      id: id # can be id / barcode / othercode (for rfid)
  seller:
    logo: logo-200.jpg
    name: Ligue des Pyrénées
    address: 2 rue des Régaires
    postalcode: 31000
    city: TOULOUSE
    country: France
    other: 
    salt: xxxx

