# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
all:
  sf_guard:
    display_group_description: true
  feed:
    url: http://www.e-venement.org/feed/
    name: e-venement.org
#  display:
#    last_hours: 24 # default: 1 month
#    max: 5         # default 5
  backups:
    directory: /data/backup
    files_search: pgsql.dev.dump.*.gz
