slave_ping:
  class: sfDoctrineRouteCollection
  options:
    model:                SlavePing
    module:               slave_ping
    prefix_path:          /slave_ping
    column:               id
    with_wildcard_routes: true

filter:
  class: sfDoctrineRouteCollection
  options:
    model:                filter
    module:               filter
    prefix_path:          /filter
    column:               id
    with_wildcard_routes: true

jabber:
  class: sfDoctrineRouteCollection
  options:
    model:                jabber
    module:               jabber
    prefix_path:          /jabber
    column:               id
    with_wildcard_routes: true

picture:
  class: sfDoctrineRouteCollection
  options:
    model:                Picture
    module:               picture
    prefix_path:          /picture
    column:               id
    with_wildcard_routes: true

authentication:
  class: sfDoctrineRouteCollection
  options:
    model:                Authentication
    module:               authentication
    prefix_path:          /authentication
    column:               id
    with_wildcard_routes: true

sfGuardUser:
  class: sfDoctrineRouteCollection
  options:
    model:                sfGuardUser
    module:               sfGuardUser
    prefix_path:          /guard/users
    column:               id
    with_wildcard_routes: true

sfGuardPermission:
  class: sfDoctrineRouteCollection
  options:
    model:                sfGuardPermission
    module:               sfGuardPermission
    prefix_path:          /guard/permissions
    column:               id
    with_wildcard_routes: true

sfGuardGroup:
  class: sfDoctrineRouteCollection
  options:
    model:                sfGuardGroup
    module:               sfGuardGroup
    prefix_path:          /guard/groups
    column:               id
    with_wildcard_routes: true

about:
  url: /about
  param: { module: about, action: index }

sf_guard_signin:
  url:   /login
  param: { module: sfGuardAuth, action: signin }

sf_guard_signout:
  url:   /logout
  param: { module: sfGuardAuth, action: signout }

sf_guard_password:
  url:   /request_password
  param: { module: sfGuardAuth, action: password }

# default rules
homepage:
  url:   /
  param: { module: default, action: index }

# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*

