div.desc, span.desc {
	display: none;
	cursor: default;
	padding: 0px 3px 2px 3px;
	border: 1px solid black;
	font-size: 85%;
	max-width: 200px;
	text-align: justify;
}
span.desc {
	position: absolute;
	margin-top: 25px;
	margin-left: -10px;
	background-color: #fff77f;
}
div.desc {
	position: absolute;
	margin-top: -5px;
	background-color: white;
}
div.desc a { text-decoration: none; }
*:hover + span.desc { display: inline; }
*:hover + div.desc, div.desc:hover { display: block; }

a.annu > span { display: none; }
a.annu {
	background-image: url(../img/fiche.gif);
	padding: 0 8px;
}

p.actions a.disabled { color: grey; }

li span.prix {
	position: absolute;
	display: block;
	margin-left: -30px;
	margin-top: 3px;
	font-size: 10px;
}
a.pay > span, a.paid > span, a.del > span { display: none; }
span.fakepay { padding-left: 16px; }
a.pay, a.paid, a.del {
	cursor: pointer;
	padding-right: 10px;
	padding-left: 2px;
	text-decoration: none;
	color: #676767;
	background-repeat: no-repeat;
	background-position: 0 1px;
	font-size: 8pt;
}
a.del { background-image: url(../img/del.png); }
a.pay, a.paid { background-image: url(../img/cadre.png); }

p.newpers, div.newmanif {
	margin-left: 52px;
	padding-left: 5px;
	min-height: 2em;
	max-height: 250px;
	overflow: auto;
	border: 1px solid grey;
	margin-top: 4px;
}
p.newpers > span
{ display: block; }

ul.pros, p.manifs { display: table; }
ul.pros > li, p.manifs > span { display: table-row; }
ul.pros > li > span,
p.manifs > span > span {
	display: table-cell;
	padding-left: 4px;
}
ul.manifs li { list-style-type: none; }
ul.manifs > li > span.actions { width: 40px; }
ul.manifs span.quota:before, p.manifs span.quota:before,
ul.manifs span.evt:before, p.manifs span.evt:before,
ul.manifs span.site:before, p.manifs span.site:before,
ul.manifs span.cie:before { content: ' - '; }
ul.manifs span.cie + span.cie:before { content: ', '; }
ul.pros li.total span { position: absolute; }
p.cat {
	margin-top: 10px;
	font-size: 130%;
}
div.newmanif p.cat { font-size: 100%; }
p.cat { margin-bottom: 0; }
p.cat, p.manifs { margin-top: 0; }
p.cat a.view, p.cat a.hide { font-size: 10px; }
p.cat a.view { display: none; }
p.cat a.hide { display: inline; }
p.cat.hide a.hide { display: none; }
p.cat.hide a.view { display: inline; }
p.cat.hide + p.manifs > span.manif { display: none; }

#waiting {
	display: none;
	cursor: default;
	color: red;
	font-weight: bold;
	position: fixed;
	top: 50px;
	left: 300px;
	z-index: 40;
	background-color: white;
	border: 1px solid gray;
	padding: 2px 10px;
}
#waiting.show { display: block; }

p.grpexp, p.csvext {
	border: 1px dashed gray;
	padding: 2px 5px 4px 5px;
	width: 350px;
	background-color: #ececec;
}
p.grpexp > span, p.csvext > span { display: block; }
	
span.jauge { cursor: default; }

a.manifpro > span { display: none; }
a.manifpro {
	background: transparent url(../img/link.png) no-repeat scroll center center;
	padding-left: 8px;
}
ul.manifs span.date { padding-right: 5px; }

/* couleur du bandeau */
p.tree { background-color: #ddcaed; }

/* param des modes de paiement */
form.tarif > ul { display: table; }
form.tarif > ul > li { display: table-row; }
form.tarif > ul > li > span {
	display: table-cell;
	text-align: center;
}
form.tarif li.th span {
	font-size: 120%;
	font-weight: bold;
	text-align: center;
}

body.param #personnes span { display: block; }
body.param p.old a + span.desc, body.param #personnes a + span.desc { display: none; } 
body.param p.old a:hover + span.desc, body.param #personnes a:hover + span.desc { display: inline; } 


#ficheindiv {
        display: none;
        border: 1px solid silver;
        position: fixed;
        width: 400px;
        height: 300px;
        top: 140px;
        right: 20px;
        overflow: auto;
        background-color: #fff5d5;
        padding: 5px 10px;
}
#ficheindiv, #ficheindiv input, #ficheindiv select {
        font-size: 9px;
}
#ficheindiv.display { display: block; }
#ficheindiv #ficheindivclose {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 12px;
        width: 12px;
        background: transparent url(../img/close.png) no-repeat scroll top left;
}
#ficheindiv div.access { text-align: right; }
#ficheindiv div.access p { margin: 0; }
#ficheindiv p.titre { background-color: #fff5d5; }
