# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
#all:

all:
  phpicalendar:
    web_dir: phpicalendar
  google_maps:
    api_keys:
      default: "ENTER YOUR API KEY HERE"
      max_display: 200
      default_country: France
  ticketting:
    dematerialized: true
    #hide_demands: true
