.about-home .ui-widget.ui-widget-about {
  position: absolute;
}
.ui-widget.ui-widget-about {
  width: 260px;
  min-height: 425px;
  background: white url(../images/logo-evenement-big.png) no-repeat 150px 50px;
  padding: 20px;
  line-height: 1.4em;
  overflow: hidden;
  font-size: 13px;
}

.ui-widget.ui-widget-about a {
  text-decoration: none;
}
.ui-widget.ui-widget-about a:hover {
  text-decoration: underline;
}

.ui-widget-about .desc, .ui-widget-about .contributors p {
  font-size: 15px;
  font-weight: bold;
}
.ui-widget-about .desc {
  margin-top: 100px;
  margin-bottom: 30px;
}
.ui-widget-about .desc, .ui-widget-about .desc a { color: #5b595a; }
.ui-widget-about.ui-widget .ui-widget-header {
  margin: -18px -18px 0 -18px;
}
.ui-widget-about h3 {
  font-size: 25px;
  color: #679519;
  margin-bottom: 3px;
}
.ui-widget-about .desc .specific {
  margin-top: 10px;
}

.ui-widget-about .mentions p {
  margin-top: 10px;
}
.ui-widget-about .mentions .button-contribs {
  margin-top: 10px;
  text-align: center;
}

.ui-widget-about .contributors {
  position: absolute;
  padding-top: 150px;
  height: 275px;
  width: 260px;
  background: white url(../images/logo-evenement-big.png) no-repeat top center;
  background-color: white;
  text-align: center;
  display: none;
}
.ui-widget-about .contributors ul { margin-top: 40px; }
.ui-widget-about .contributors li { list-style: none; }

.ui-widget-about .ui-widget-header {
  padding: 10px;
  height: 23px;
  line-height: 1;
  margin: -8px -8px 0px -8px;
}
.ui-widget-about .ui-widget-header h2 {
  font-size: 25px;
}

#error h2 {
  margin-bottom: 20px;
}
#error p {
  color: black;
  font-weight: normal;
  margin-bottom: 5px;
}

.logo-marketing {
  margin-left: -15px;
}

iframe#about {
  width: 302px;
  height: 477px;
  cursor: default;
  position: fixed;
  overflow: hidden;
  background-color: white;
  top: 60px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  border: 1px solid silver;
  z-index: 1000;
  left: 50%;
  margin-left: -151px;
}
