.about-home { position: absolute; }
.ui-widget-customer, 
.ui-widget-last-version,
.ui-widget.ui-widget-about {
  width: 260px;
  min-height: 425px;
  background: white url(../images/logo-evenement-big.png) no-repeat 150px 50px;
  padding: 20px;
  line-height: 1.4em;
  overflow: hidden;
  font-size: 13px;
}
.ui-widget-customer, .ui-widget-last-version { min-height: 0; background-image: none; }

.ui-widget.ui-widget-about a {
  text-decoration: none;
}
.ui-widget.ui-widget-about a:hover {
  text-decoration: underline;
}

.ui-widget-about .desc, .ui-widget-about .contributors p {
  font-size: 15px;
  font-weight: bold;
}
.ui-widget-about .desc {
  margin-top: 100px;
  margin-bottom: 30px;
}
.ui-widget-about .desc, .ui-widget-about .desc a { color: #5b595a; }
.ui-widget-about.ui-widget .ui-widget-header { margin: -18px -18px 0 -18px; }
.ui-widget-about h3 {
  font-size: 25px;
  color: #055271;
  margin-bottom: 3px;
}
.ui-widget-about .desc .specific { margin-top: 10px; }

.ui-widget-about .mentions p { margin-top: 10px; }
.ui-widget-about .mentions .button-contribs {
  margin-top: 10px;
  text-align: center;
}

.ui-widget-about .contributors {
  position: absolute;
  padding-top: 150px;
  height: 275px;
  width: 260px;
  background: white url(../images/logo-evenement-big.png) no-repeat top center;
  background-color: white;
  text-align: center;
  display: none;
}
.ui-widget-about .contributors ul { margin-top: 20px; }
.ui-widget-about .contributors li { list-style: none; }

.ui-widget-about .ui-widget-header {
  padding: 10px;
  height: 23px;
  line-height: 1;
  margin: -8px -8px 0px -8px;
}
.ui-widget-about .ui-widget-header h2 {
  font-size: 25px;
}

#error h2 {
  margin-bottom: 20px;
}
#error p {
  color: black;
  font-weight: normal;
  margin-bottom: 5px;
}

.logo-marketing {
  margin-left: -15px;
}

iframe#about {
  width: 302px;
  height: 477px;
  cursor: default;
  position: fixed;
  overflow: hidden;
  background-color: white;
  top: 60px;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  border: 1px solid silver;
  z-index: 1000;
  left: 50%;
  margin-left: -151px;
}

.ui-widget-customer .name, #careful .dedicated-to { font-weight: bold; }
.ui-widget-customer .logo img { max-width: 260px; }
#careful .name, #careful .logo, #careful .address { text-align: center; }
#careful .address, .ui-widget-customer .address { font-size: 90%; }
.ui-widget-customer .address { line-height: 1.2em; }
.ui-widget-last-version .content { max-height: 350px; overflow: auto; margin-right: -10px; padding-right: 5px; }
.ui-widget-last-version ul { margin-left: 20px; }

.li-direct-access { display: none; }
@media screen and (max-width: 1000px) {
  .mod-sfGuardAuth  #company, .about-home .ui-widget-about { display: none; }
  .mod-sfGuardAuth #sf_admin_content { margin-left: 0; width: auto; }
  .login #ipv6 { margin-left: auto; right: 30px; }
  .login { font-size: 200%; }
  .mod-sfGuardAuth .login input { font-size: 170%; margin-left: 5px; }
  .mod-sfGuardAuth .login input[type=submit] { position: static; margin-top: 5px; font-size: 100%; }
  
  .about-home { position: static; }
  .ui-widget-last-version, .welcome { display: none; }
  .li-direct-access { display: block; }
  .ui-widget-customer { float: left; }
  .ui-widget-search, .li-direct-access { width: calc(100% - 260px - 50px); margin-left: 290px; }
  .ui-widget-search input, .li-direct-access input { font-size: 250%; }
  .ui-widget-customer { position: absolute; }
}
@media screen and (max-width: 800px) {
  .mod-sfGuardAuth .login input { font-size: 120%; }
}
