#sf_admin_list_batch_actions, #sf_admin_list_th_actions,
.sf_admin_actions,
.sf_admin_row td:first-child,
.sf_admin_row td:last-child,
.sf_admin_actions_block { display: none; }

.sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_id,
.sf_admin_list_th_id,
.sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_transaction_id,
.sf_admin_list_th_transaction_id {
  text-align: center;
}

.sf_admin_list table .sf_admin_text a,
.sf_admin_list table .sf_admin_foreignkey a {
  text-decoration: underline;
}

.dates span { display: block; }

.sf_admin_list_td_debt span {
  display: inline-block;
  width: 5em;
  text-align: right;
}
