iframe {
  width: 825px;
  height: 770px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.ui-widget-content {
  margin-top: 10px;
}
h1 { font-size: 22px; }

#fullcalendar { margin-top: 10px; }
#fullcalendar .fc-view-resourceDay { overflow-x: auto; }
