html {
  background-color: white;
  padding: 0; margin: 0;
}
body {
  font-size: 13px;
  font-family: arial,helvetica,clean,sans-serif;
  line-height: 1;
}
html body p { margin: 0; padding: 0 }

#card {
  padding: 10mm 0; /* 21mm en hauteur, 15mm environ sur les côtés, moins les marges de l'imprimante */
  margin: 0;
  width: 267mm;
  height: 63mm;
  color: #494844;
  transform: rotate(270deg);
  margin: 91mm 0 0 -92mm;
}
#card .content {
  padding: 0;
  height: 54.5mm;
  float: left;
  background: transparent url('../private/logo-75.png') no-repeat scroll bottom right;
  overflow: hidden;
  font-weight: bold;
}
#card .content:first-child {
  width: 74mm;
  height: 39.5mm;
  padding: 3mm;
  margin-right: 19mm;
  border-radius: 6mm;
  background-position: 58mm 30mm;
}
#card .content:first-child + .content {
  width: 32mm;
  margin-left: 6mm;
  margin-right: 6mm;
  background-image: none;
}
#card .content:first-child + .content + .content {
  margin-left: 12.5mm;
  width: 100mm;
  background-position: 75mm bottom;
}

#card .content:first-child .picture {
  border: 1px solid grey;
  margin-right: 2mm;
  width: 30mm;
  height: 30mm;
  float: left;
}
#card .content .extra-card {
  clear: both;
  font-size: 8px;
  margin-top: 4.5mm;
  text-align: center;
  margin-right: 67px;
}
#card .content:first-child p { margin-bottom: 1em; }

#card p { margin-bottom: 1mm; }
#card p.city, #card p.address, #card p.status, #card p.date { margin-bottom: 0; }
#card p.address { white-space: nowrap; }
#card .content:first-child .title { display: inline-block; width: 15mm; }
#card .content .title { color: gray; }
#card .content .extra-date, #card .content .librinfo, #card .content .extra-card, #card .content .title { font-weight: normal; }
#card .title:after { content: ' :'; }

#card h2 { text-align: center; font-size: 13px; }
#card .extra-date { font-size: 70%; }

#card .librinfo {
  font-size: 8px;
  -moz-transform: rotate(90deg);
  position: absolute;
  margin-top: 26mm;
  margin-left: 72mm;
  white-space: nowrap;
}

#card .content:first-child .name { height: 1em; }

@media screen {

#card {
  border: 1px solid silver;
}
#card .content {
  border: 1px solid silver;
}
#card .content:hover {
  border: 1px dashed grey;
}

}
