.sf_form_field_events_list li {
  margin-left: 20px;
}
#sf_fieldset_ticketting a { text-decoration: none; }
#sf_fieldset_ticketting a:hover { text-decoration: underline; }
#sf_fieldset_ticketting table .pro td {
  font-weight: bold;
  text-decoration: underline;
}
#sf_fieldset_ticketting table .meta_event td {
  font-weight: bold;
  font-style: italic;
}
#sf_fieldset_ticketting table td {
  padding: 0 5px;
}
#sf_fieldset_ticketting table td span {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  display: block;
}
#sf_fieldset_ticketting table td.manif span {
 white-space: normal;
}
#more .sf_admin_form_tab_menu > div > .sf_admin_form_field_contact_id { display: none; }
#more .duplicates { padding-bottom: 5px; }

#member-cards .ui-widget-content {
  margin: 5px;
  padding: 0 5px;
}
#member-cards .new {
  float: right;
  width: 380px;
}
#member-cards .new #card_duplicate, #member-cards .new #card_type_value, #member-cards .new #card_type_payment_method { float: right; }
#member-cards .new #card_type_value input {
  width: 4em;
  text-align: right;
}
#member-cards .list {
  min-height: 50px;
  padding: 5px 5px 5px 20px;
  margin-right: 405px;
}
#member-cards .list table { clear: none; }
#member-cards .list .card { float: left; padding-right: 10px; }
#member-cards .list .sf_admin_action_delete {
  list-style-type: none;
  font-size: 80%;
  padding: 0.2em 0 0.3em 0;
}
#member-cards #card_type_list {
  float: left;
  list-style-type: none;
  margin: 5px 10px;
}
#member-cards #card_type_actions {
  display: inline-block;
  padding-top: 12px;
}

#sf_fieldset_ticketting .archive .happens_at { text-align: right; }
#sf_fieldset_ticketting tr:not(.archive) + .archive > * > span { border-top: 1px dashed black; padding-top: 10px; }
#sf_fieldset_ticketting tr:not(.archive) + .archive > * { padding-top: 10px; }
