select { max-width: 300px; max-height: 150px; }
#content .sf_admin_form_field_manifestations_list .double_list select { max-width: none; width: 700px; max-height: none; height: 10em; }
.sf_admin_list td { max-width: 200px; overflow: hidden; }
body #sf_admin_container { position: static; }
body #content .sf_admin_action_list { margin-left: 42px; }

#content .sf_admin_form select, #content .sf_admin_form textarea,
#content .sf_admin_form input[type=text] { width: 250px; }

body .ui-tabs-vertical .ui-tabs-nav li { width: 97%; }

#content .show_phonenumbers,
#content .show_groups { margin-left: 30px; line-height: 1.5em; }

.sf_admin_show .sf_admin_form_row { display: table-row; }
.sf_admin_show .sf_admin_form_row label { display: table-cell; width: 80px; padding-bottom: 4px; }

.open_list > div, .double_list > div > div { width: 100%; text-align: center; }
.open_list > div:first-child, .double_list > div > div:first-child { margin-bottom: -2em; }
.open_list > div:first-child + div br, .double_list > div > div:first-child + div br { display: none; }
.open_list > div:first-child + div img, .double_list > div > div:first-child + div img { -moz-transform: rotate(90deg); }

.phones .phonenumbers { white-space: nowrap; }

body .sf_admin_filter td { padding-bottom: 0; }

#sf_admin_filter ul.error_list {
  margin: 0;
  margin-bottom: 7px;
  color: #d33;
  border: none;
  background-color: #f33;
}
#sf_admin_filter ul.error_list li {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 25px;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  color: #ffffff;
  background-image: url("../images/error.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 4px 4px;
}
#sf_admin_filter .from_year select + select,
#sf_admin_filter .to_year select + select { display: none; }
#sf_admin_filter .sf_admin_filter_field_has_address li,
#sf_admin_filter .sf_admin_filter_field_has_email li { display: inline; padding-right: 20px; }
#sf_admin_filter { max-height: 500px; }
#sf_admin_filter .fieldset > div { padding: 2px; margin: 10px 0; }
#sf_admin_filter .fieldset h2 { font-size: 80%; }
#sf_admin_filter .fieldset .fg-toolbar { padding: 2px 10px; }
#sf_admin_filter .fieldset tbody td { padding-left: 10px; }

.show_groups ul li { margin-left: 15px; }

#list-integrated-search {
  float:  right;
  margin-top: 5px;
}
#list-integrated-filter {
  margin: 5px 0 0 0;
  right: 300px;
  position: absolute;
  padding: 10px;
}
#list-integrated-filter h2 { color: #2e6e9e; width: 230px; }
#list-integrated-filter select {
  width: 230px;
  max-height: none;
  height: 230px;
}

body #sf_admin_container .ui-widget-header h1 { font-size: 22px; }
body #sf_admin_container { font-size: 11px; width: auto; }
body .ui-widget-header { margin: 2px 2px auto 2px; }

.ui-state-success, .ui-widget-content .ui-state-success {
  background-color: #ecfeed;
  border: 1px solid #0acd12;
}

.sf_admin_form_field_load_button {
  position: absolute;
  margin-top: -30px;
  margin-left: 280px;
}

.sf_admin_show .rich-content {
  padding: 5px;
  margin: 5px 0;
  width: 350px;
  max-height: 200px;
  overflow: auto;
}

#content .sf_admin_date select,
#content .sf_admin_date input[type=text] {
  text-align: center;
  width: 4em;
}
#content .sf_admin_date input[type=text][size="2"] {
  width: 2em;
}

#content .sf_admin_form {
  line-height: 1.5em;
}
  
#gmap {
  padding: 10px;
}

.sf_admin_td_actions { white-space: nowrap; font-size: 0; }
body .sf_admin_td_actions li { display: inline-block; float: none; }
.sf_admin_td_actions .fg-button-mini { font-size: 0px; padding: 16px 16px 0 0; }

.gmap_actions {
    padding-top: 2px;
}
.gmap_actions ul li a {
    float:  none;
    position: absolute;
    display: block;
    margin-top: -20px;
}
