.sf_admin_list_td_list_emails .org,
.sf_admin_list_td_list_professional_emails .org { font-style: italic; }
.sf_admin_list .sf_admin_list_td_list_emails { max-width: 80px; font-size: 80%; }
.sf_admin_list .sf_admin_list_td_list_emails li { white-space: nowrap; }
