html {
  background-color: white;
  padding: 0; margin: 0;
}
body {
  font-size: 13px;
  font-family: arial,helvetica,clean,sans-serif;
  line-height: 1;
}
html body p { margin: 0; padding: 0 }
.page { page-break-after: always; min-height: 267mm; }

.member_card {
  padding: 10mm 0; /* 21mm en hauteur, 15mm environ sur les côtés, moins les marges de l'imprimante */
  margin: 0;
  width: 267mm;
  height: 63mm;
  color: #494844;
  transform-origin: top right;
  transform: rotate(270deg) translate(0, -267mm);
}
.member_card .content {
  padding: 0;
  height: 54.5mm;
  float: left;
  background: transparent url('../private/logo-75.png') no-repeat scroll bottom right;
  overflow: hidden;
  font-weight: bold;
  position: relative;
}
.member_card .content:first-child {
  width: 74mm;
  height: 39.5mm;
  padding: 3mm;
  margin-right: 19mm;
  border-radius: 6mm;
  background-position: 58mm 30mm;
}
.member_card .content:first-child + .content {
  width: 32mm;
  margin-left: 6mm;
  margin-right: 6mm;
  background-image: none;
}
.member_card .content:first-child + .content + .content {
  margin-left: 12.5mm;
  width: 100mm;
  background-position: 75mm bottom;
}

.member_card .content:first-child .picture {
  border: 1px solid grey;
  margin-right: 2mm;
  width: 30mm;
  height: 30mm;
  float: left;
}
.member_card .content .extra-card {
  clear: both;
  font-size: 8px;
  margin-top: 4.5mm;
  text-align: center;
  margin-right: 67px;
}
.member_card .content:first-child p { margin-bottom: 1em; }

.member_card p { margin-bottom: 1mm; }
.member_card p.city, .member_card p.address, .member_card p.status, .member_card p.date { margin-bottom: 0; }
.member_card p.address { white-space: nowrap; }
.member_card .content:first-child .title { display: inline-block; width: 15mm; }
.member_card .content .title { color: gray; }
.member_card .content .extra-date, .member_card .content .librinfo, .member_card .content .extra-card, .member_card .content .title { font-weight: normal; }
.member_card .title:after { content: ' :'; }

.member_card h2 { text-align: center; font-size: 13px; }
.member_card .extra-date { font-size: 70%; }

.member_card .librinfo {
  font-size: 8px;
  transform: rotate(90deg);
  position: absolute;
  margin-top: 26mm;
  margin-left: 72mm;
  white-space: nowrap;
}

.member_card .content:first-child .name { height: 1em; }

@media screen {

.member_card {
  border: 1px solid silver;
}
.member_card .content {
  border: 1px solid silver;
}
.member_card .content:hover {
  border: 1px dashed grey;
}

}

