.sf_admin_form_row table {
  margin: 0 0 0 10px;
  padding: 0 5px;
}
.sf_admin_form_row table td { padding-right: 10px; }
.sf_admin_form_row table td.payment_value,
.sf_admin_form_row table td.ticket_value { text-align: right; }
.sf_admin_form_row table tfoot td { font-weight: bold; }

.sf_admin_actions_form .delete {
  float: right;
}
