.sf_admin_form_row table {
  margin: 0 0 0 10px;
  padding: 0 5px;
}
.sf_admin_form_row table td { padding-right: 10px; }
.sf_admin_form_row table td.payment_value,
.sf_admin_form_row table td.ticket_value { text-align: right; }
.sf_admin_form_row table tfoot td { font-weight: bold; }

.sf_admin_actions_form .delete {
  float: right;
}

#bip-card .ui-widget-header {
  padding: 2px 4px;
}
#bip-card > form, #bip-card > .form {
  padding: 10px;
}
#bip-card.success {
  background-color: LightGreen;
}
#bip-card.failure {
  background-color: OrangeRed;
}
#bip-card { background-image: none; }

#bip-card > .form table {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
}
#bip-card > .form table td {
  padding: 1px 3px;
}
#bip-card > .form table .contact td,
#bip-card > .form table thead td {
  font-weight: bold;
  text-align: center;
}
#bip-card .card_expiration td + td {
  font-weight: bold;
}

#bip-card .sf_admin_actions_block {
  margin-bottom: 35px;
}
#bip-card .submit { padding-left: 8px; }
