#sf_admin_content {
  width: 600px;
  min-height: 520px;
  margin-left: 310px;
  margin-top: -10px;
}

.ui-widget .ui-widget-header {
  padding: 10px;
  height: 23px;
  line-height: 1;
  margin: -8px -8px 0px -8px;
}
.ui-widget .ui-widget-header h2 {
  font-size: 25px;
}
.ui-widget-content {
  padding: 10px;
}
.sf_admin_login .ui-widget-header {
  margin-bottom: 10px;
}
.login input[type=submit] {
  position: absolute;
  margin-top: -20px;
  margin-left: 190px;
}

.ui-widget-content { margin-bottom: 10px; }
.ui-widget-content .ui-widget-header { margin-bottom: 10px; }

#content .welcome ul { padding-left: 20px; }

.login #ipv6 {
  position: absolute;
  margin-top: -50px;
  margin-left: 490px;
}
.login #ipv6 .ready { margin-top: 5px; }
.login #ipv6 .on { height: 31px; }
