#content .sf_admin_form_field_field_from input[type=text],
#content .sf_admin_form_field_field_to textarea,
#content .sf_admin_form_field_field_cc textarea,
#content .sf_admin_form_field_field_bcc textarea,
#content .sf_admin_form_field_field_subject textarea { height: 1em; width: 420px; }

.mod-email #sf_admin_content .sf_admin_actions_form li,
.mod-email #sf_admin_content .sf_admin_actions_form.no-float {
  text-align: left;
  float: none;
}
.mod-email #sf_admin_content .sf_admin_actions_form li {
  margin-left: 8px;
  position: static;
}

.sf_admin_form_field_attachments .fg-button {
  float: none;
  font-size: 0;
  padding: 0 8px;
  display: inline-block;
}

#upload-content {
  margin: 5px;
  padding: 10px;
}

.setbyfilter ol {
  max-height: 100px;
  overflow: auto;
  border: 1px dashed gray;
  padding: 2px 0 2px 50px;
}

.sf_admin_form_field_load_button input, .sf_admin_form_field_save_button input { margin-right: 1.5em; }
.sf_admin_list table tbody tr.sf_admin_row .sf_admin_list_td_list_content .max-height { max-height: 3em; overflow: hidden; }
