#content .sf_admin_form_field_field_from input[type=text],
#content .sf_admin_form_field_field_to textarea,
#content .sf_admin_form_field_field_cc textarea,
#content .sf_admin_form_field_field_bcc textarea,
#content .sf_admin_form_field_field_subject textarea { height: 1em; width: 420px; }

#sf_admin_content .sf_admin_actions_form li,
#sf_admin_content .sf_admin_actions_form.no-float {
  text-align: left;
  float: none;
}
#sf_admin_content .sf_admin_actions_form li {
  margin-left: 8px;
  position: static;
}

.sf_admin_form_field_attachments .fg-button {
  float: none;
  font-size: 0;
  padding: 4px 16px 0 0;
  display: inline-block;
}

#upload-content {
  margin: 5px;
  padding: 10px;
}

.setbyfilter ol {
  max-height: 100px;
  overflow: auto;
  border: 1px dashed gray;
  padding: 2px 0 2px 50px;
}
