#sf_fieldset_details .mce-tinymce,
#sf_fieldset_web_content .mce-tinymce {
  margin-top: 10px;
  margin-left: -130px;
}

#content .sf_admin_field_companies_list ul {
  padding: 5px 10px;
  margin-bottom: 10px;
}
.sf_admin_field_companies_list ul li {
  margin-left: 10px;
}

#more .sf_admin_edit .sf_admin_list { margin: 0; }

.checkpoint_new .sf_admin_form_field_event_id { display: none; }

.sf_admin_show .sf_admin_field_description label, .sf_admin_show .sf_admin_field_description .rich-content {
  display: table-cell;
}
.sf_admin_show .sf_admin_field_description .rich-content p {
  margin-bottom: 10px;
}

.show_checkpoint {
  margin-left: 30px;
}

.sf_admin_form_field_Manifestations > table > tbody > tr + tr > td { padding-top: 10px; }
.sf_admin_form_field_Manifestations > table > tbody > tr + tr > td > table { border-top: 1px solid rgb(166, 201, 226); padding-top: 10px; }
.sf_admin_form_field_Manifestations > table > tbody > tr > th { display: none; }
.sf_admin_form_field_Manifestations th { padding-right: 5px; }
#content .sf_admin_form_field_Manifestations select,
#content .sf_admin_form_field_Manifestations input[type=text] { width: 200px; }
#content .sf_admin_form_field_Manifestations input[type=text][size="2"] { width: 15px; }
#content .sf_admin_form_field_Manifestations input[type=text][size="4"] { width: 30px; }
.ui-widget-content .sf_admin_form_field_Manifestations.ui-state-error { border: 0; background: none; }
.ui-widget-content .sf_admin_form_field_Manifestations table.ui-state-error { padding: 3px; }

.manifestation_list .sf_admin_date { white-space: nowrap; }

/* resource booking management */
.sf_admin_list_td_list_gauge .option { display: none; }
#more .sf_admin_list_td_list_gauge.small-gauges { text-align: center; }
#more .sf_admin_list_td_list_gauge.small-gauges .gauge { text-align: left; }
#more .sf_admin_list_td_list_gauge.small-gauges .txt { display: block; margin-top: 3px; }

#more .sf_admin_list_td_list_extra_informations_list, #more .sf_admin_list_th_list_extra_informations_list { display: none; }
@media screen and (min-width: 1400px) {
  #more .sf_admin_list_td_list_extra_informations_list, #more .sf_admin_list_th_list_extra_informations_list { display: table-cell; }
}
