.seated-plan .seat.held:not(.in-progress) { border: 2px solid blue; border-color: rgba(0,0,255,0.6); margin: -2px 0 0 -2px; }
#content .sf_admin_form .sf_admin_form_field_get_back_seats_from_transaction_id input[type=text], #content .sf_admin_form .sf_admin_form_field_transaction_id input[type=text] { width: 6em; padding-right: 1em; }
#content .sf_admin_form .sf_admin_form_field_transaction_id input[type=text] { color: gray; }
.sf_admin_form .sf_admin_form_field_transaction_id .transaction_id { color: gray; }
.sf_admin_form .sf_admin_form_field_transaction_id .remove_transaction_id { display: none; position: absolute; background-image: url('../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png'); width: 16px; height: 16px; background-position: -32px 48px; margin-left: -22px; margin-top: 4px; }
.sf_admin_form .sf_admin_form_field_transaction_id .remove_transaction_id:hover { background-image: url('../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_217bc0_256x240.png'); }
.sf_admin_form .sf_admin_form_field_transaction_id.with-transaction-id .remove_transaction_id { display: inline-block; }
.sf_admin_form_field_show_picture .help { text-align: left; }

#sf_admin_container .sf_admin_form_field_show_feeders ul { margin-left: 20px; }

.sf_admin_list .sf_admin_number { text-align: right; white-space: nowrap; }
.sf_admin_list .sf_admin_color span { display: block; padding: 3px 10px; color: rgba(0,0,0,0.3); background-color: rgba(0, 0, 255, 0.6); }
