/* GENERIC */
.picture.seated-plan { position: relative; z-index: 1; }
.picture.seated-plan img { left: 0; position: absolute; }
.picture.seated-plan .pre-seat, .picture.seated-plan .seat { position: absolute; background-color: green; border-radius: 40%; }
.picture.seated-plan .seat.not-allowed { background-color: #9a9ac9; }
.picture.seated-plan .seat.asked { background-color: blue; }
.picture.seated-plan .seat.ordered { background-color: orange; }
.picture.seated-plan .seat.printed { background-color: red; }
.picture.seated-plan .pre-seat, .picture.seated-plan .seat.txt { background-color: transparent; z-index: 3; margin: -2px 0 0 -2px; }
.picture.seated-plan .pre-seat { z-index: 2; }
.picture.seated-plan .seat.txt.in-progress { border: 2px solid red; }
.picture.seated-plan .pre-seat, .picture.seated-plan .seat.txt:hover { border: 2px solid black; }
.picture.seated-plan .anti-handling { width: 100%; height: 100%; background-color: transparent; position: absolute; z-index: 2; }
.picture.seated-plan * { cursor: crosshair; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* LIST */
.sf_admin_list table tbody .sf_admin_row .sf_admin_number { text-align: right; }
.sf_admin_list table .sf_admin_number { width: 3em; overflow: hidden; }

/* FOR EDITION */
#sf_fieldset_plan .sf_admin_form_field_picture_del { margin-top: 0; }
#sf_fieldset_plan .sf_admin_form_field_show_picture { margin-left: -24.5em; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .picture { margin: 0 auto; }
#sf_fieldset_plan .sf_admin_form_field_show_picture *:not(input) { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .label { margin-left: 24.5em; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .tools { position: absolute; right: 4em; margin-top: 2em; z-index: 2; background-color: rgba(255,255,255,0.6); padding: 0 0.3em; text-align: left; z-index: 3; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .tools label { display: inline-block; width: 6em; margin-right: 1em; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .tools input { width: 8em; }
#sf_fieldset_plan .sf_admin_form_field_show_picture .tools a { text-decoration: none; border: 1px solid gray; background-color: silver; padding: 2px 7px; border-radius: 2px; }
#sf_fieldset_plan .sf_admin_form_field_Picture table label, #sf_fieldset_online_sales .sf_admin_form_field_OnlinePicture table label { display: none; }
.js_seated_plan_useful { display: none; }
#sf_fieldset_ranks label { min-width: 15em; display: inline-block; }
#sf_fieldset_ranks input[type=text]:not(.align-left) { text-align: right; }
#sf_fieldset_ranks input[type=text][size=2] { margin-left: 1em; }
#sf_fieldset_ranks .ranks_explanation { margin-top: 10px; }

/* MANIFESTATIONS */
#sf_fieldset_workspaces .picture.seated-plan { transform: scale(0.5); margin: -25% 0 -15% -25%; }

/* TRANSACTIONS */
.seats-allocation .ui-widget-content { margin: 5px; padding: 5px; }
.seats-allocation .seated-plan { margin-bottom: 15px; }
.seats-allocation #reload { float: right; }
.seats-allocation #reload { display: none; }
.seats-allocation .next { margin: 10px; text-align: right; height: 20px; }
.seats-allocation .next.first { position: absolute; right: 35px; }
.seats-allocation .next a { float: right; text-decoration: none; padding: 3px 15px; }
.seats-allocation .next.first a { float: none; }
.seats-allocation .ticket { padding: 2px 7px; cursor: default; border: 1px dashed gray; border-radius: 3px; margin-right: 5px; display: inline-block; white-space: nowrap; }
.seats-allocation .gauge { display: block; }
.seats-allocation .manifestation { font-weight: bold; }
.seats-allocation #done,
.seats-allocation #context { margin-bottom: 10px; }
.seats-allocation #todo, .seats-allocation #done { height: 20px; }
.seats-allocation #done form { display: none; }
.seats-allocation .total:before { content: ' = '; }
.seats-allocation .total { font-weight: bold; }

#menu li.disabled { color: silver; }

