.new-title { display: none; }
.wait { display: block; margin: 50px auto; }
.main.ui-widget-header { padding: 5px; margin-bottom: 10px; }
#global-search .ui-widget-header { margin: 0; }

.sf_admin_list table thead th span,
.sf_admin_list .sf_admin_pagination,
.sf_admin_list .sf_admin_td_actions > :not(.sf_admin_action_show):not(.sf_admin_action_edit),
.sf_admin_list > table > thead th:first-child #sf_admin_list_batch_checkbox, .sf_admin_list > table > tbody td:first-child .sf_admin_batch_checkbox,
.ui-widget-header .fg-buttonset-multi { display: none; }

#contacts .sf_admin_list_th_list_see_orgs,
#contacts .sf_admin_list_th_list_contact,
#contacts .sf_admin_list_th_list_professional_id,
#contacts .sf_admin_list_th_list_organism,
#contacts .sf_admin_list_th_list_professional,
#contacts .sf_admin_list_th_list_organism_postalcode,
#contacts .sf_admin_list_th_list_organism_city,
#contacts .sf_admin_list_th_list_professional_emails,
#contacts .sf_admin_list_th_list_organism_phones_list,
#contacts .sf_admin_list_th_list_professional_groups_picto,
#contacts .sf_admin_list_th_list_professional_description,
#contacts .sf_admin_list_td_list_see_orgs,
#contacts .sf_admin_list_td_list_contact,
#contacts .sf_admin_list_td_list_professional_id,
#contacts .sf_admin_list_td_list_organism,
#contacts .sf_admin_list_td_list_professional,
#contacts .sf_admin_list_td_list_organism_postalcode,
#contacts .sf_admin_list_td_list_organism_city,
#contacts .sf_admin_list_td_list_professional_emails,
#contacts .sf_admin_list_td_list_organism_phones_list,
#contacts .sf_admin_list_td_list_professional_groups_picto,
#contacts .sf_admin_list_td_list_professional_description
{ display: none; }

#transactions .sf_admin_list_td_delete_demands, #transactions .sf_admin_list_th_delete_demands { display: none; }
