#sf_admin_container .sf_admin_action_extract_accepted a {
  background: rgb(223, 239, 252) url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat -48px -112px;
}
#sf_admin_container .sf_admin_action_extract_refused a {
  background: rgb(223, 239, 252) url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat 0 -128px;
}
#sf_admin_container .sf_admin_action_export a {
  background: url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat scroll -144px -96px rgb(223, 239, 252);
}
