#sf_admin_container .sf_admin_action_extract_accepted a {
  background: rgb(223, 239, 252) url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat -48px -112px;
}
#sf_admin_container .sf_admin_action_extract_refused a {
  background: rgb(223, 239, 252) url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat 0 -128px;
}
#sf_admin_container .sf_admin_action_export a {
  background: url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat scroll -144px -96px rgb(223, 239, 252);
}

#sf_admin_container td { min-width: 0px; width: auto; }
.sf_admin_list tbody .sf_admin_row .sf_admin_numeric { text-align: right; padding-right: 10px; }

.sf_admin_list table a:hover { text-decoration: underline; }

.from-date-to-date { padding: 5px; }
.from-date-to-date form { text-align: right; max-width: 250px; }
.from-date-to-date label { display: none; }
.from-date-to-date span { display: block; }
.from-date-to-date .ui-button { margin-top: 5px; }
.from-date-to-date input[type=text]:not(.sfWFDTyear) { width: 2em; }
.from-date-to-date input[type=text].sfWFDTyear { width: 4em; }
