.sf_admin_form_field_link_to_contact { margin-top: -3em; position: absolute; margin-left: 23em; }
.mod-professional_full #sf_admin_content .sf_admin_actions_block { margin-top: -4em; margin-bottom: 2em; }
.mod-professional_full.action-new #sf_admin_content .sf_admin_actions_block:last-child { margin-top: 0; }
.mod-professional_full.action-new #sf_admin_content .sf_admin_actions_block:first-child { margin-top: -2em; }
#sf_admin_header { margin-top: 4em; }
#sf_admin_header .contact { margin: 0 10px; font-weight: bold; }

.manifestation .count { height: 3em; }
.manifestation .count .gauge .txt { float: right; }
