.jqplot { margin-top: 5px; }
.jqplot > .chart { margin: 5px 20px; }
.jqplot .actions {
  text-align: left;
  margin: 3px 0 0 0;
  padding-left: 30px;
  border-top: 1px solid #948c7d;
  clear: both;
}
.jqplot .actions .arrow.pos1 { margin-left: 23px; }
.jqplot .actions .arrow {
  display: block;
  width: 20px;
  height: 4px;
  background-image: url('../images/little-arrow-bottom.png');
}
.jqplot .actions a {
  text-decoration: none;
  background-color: #f2f1ed;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.jqplot .actions a:hover { background-color: #e1e0db; }
.jqplot .actions a span { display: none; }
.jqplot .actions a.record { background-image: url('../images/export.png'); }
.jqplot .actions a.chart { background-image: url('../images/chart_bar.png'); border: 0; }

.clear { clear: both; }

