html body #content { width: 655px; overflow: hidden; }
html body #more    { width: 255px; margin-left: 200px; overflow: hidden; }

#sf_fieldset_spectators .ticket-ids { display: none; }
#sf_fieldset_spectators tbody .transaction { text-align: right; }

#sf_fieldset_unbalanced .contact { max-width: 130px; overflow: hidden; white-space: nowrap; }

#sf_admin_pager td {
  width: 10%;
}

#sf_admin_pager td.left {
  display: none;
}

#sf_admin_pager td.left {
  display: none;
}

#form_workspaces .gauge-transferts {
  vertical-align: middle;
}
#form_workspaces .gauge-transferts p {
  text-align: center;
}
#form_workspaces .gauge-transferts .ui-icon {
  cursor: pointer;
  background-image: url(../sfAdminThemejRollerPlugin/css/jquery/base/images/ui-icons_454545_256x240.png);
  transform: rotate(90deg);
  font-size: 0;
}
#form_workspaces .gauge-transferts.active .ui-icon {
  background-position: -80px -80px;
}
#form_workspaces #sf_admin_list_th_chained {
  font-size: 0;
}
