#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description { padding: 0; }
#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description div {
  height: 100%;
  margin: 0;
  padding: 0px 4px;
  text-align: center;
}

select[disabled] { color: #444; }

#content .sf_admin_form_field_participants_list ul,
#content .sf_admin_form_field_organizers_list ul,
#content .sf_admin_form_field_workspaces_list ul,
#content .sf_admin_form_field_prices_list table td { padding: 0 5px; }
#content .sf_admin_form_field_prices_list ul { padding: 5px 10px; margin-bottom: 10px; }
#content .sf_admin_form_field_participants_list ul li,
#content .sf_admin_form_field_organizers_list ul li,
#content .sf_admin_form_field_workspaces_list ul li,
#content .sf_admin_form_field_prices_list ul li { margin-left: 10px; }

#content .sf_admin_list_td_Price select[name="price_manifestation[price_id]"] { width: 100px; }
#content .sf_admin_list_td_value input[type=text] { width: 100px; margin-left: 50px; }
#content .sf_admin_list_td_value div input[type=text] { margin-left: 40px; }
#content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-error, #content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-highlight, #content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-success { padding: 3px 8px; font-size: 80%; margin: -8px 0 -13px 0; }

.sf_admin_form_field_prices_list .ajax .sf_admin_list_td_price_description { width: 250px; }
.sf_admin_form_field_prices_list .ajax { margin-left: -150px; width: 580px; }

#sf_fieldset_spectators table, #sf_fieldset_tickets table { margin-bottom: 10px; }
#sf_fieldset_spectators table thead td, #sf_fieldset_tickets table thead td { border-bottom: 1px solid gray; }
#sf_fieldset_spectators table tfoot td, #sf_fieldset_tickets table tfoot td { border-top: 1px solid gray; }
#sf_fieldset_spectators table table td.name, #sf_fieldset_tickets table td.name { font-weight: bold; }
#sf_fieldset_spectators table tbody td a, #sf_fieldset_tickets table tbody td a { text-decoration: none; }
#sf_fieldset_spectators table table tbody td a:hover, #sf_fieldset_tickets table tbody td a:hover { text-decoration: underline; }
#sf_fieldset_spectators table td, #sf_fieldset_tickets table td { padding-right: 10px; }
#sf_fieldset_spectators table tfoot td.price, #sf_fieldset_tickets table tfoot td.price,
#sf_fieldset_spectators table tbody td.price, #sf_fieldset_tickets table tbody td.price,
#sf_fieldset_spectators table tfoot td.qty, #sf_fieldset_tickets table tfoot td.qty,
#sf_fieldset_spectators table tbody td.qty, #sf_fieldset_tickets table tbody td.qty { text-align: right; }

#sf_fieldset_spectators table .overlined td, #sf_fieldset_tickets table .overlined td { background-color: #ddd; }
#sf_fieldset_spectators table tfoot tr:hover td, #sf_fieldset_tickets table tfoot tr:hover td, #sf_fieldset_spectators table tbody tr:hover td, #sf_fieldset_tickets table tbody tr:hover td { background-color: #fff0d0; }
#sf_fieldset_spectators table tfoot tr.overlined:hover td, #sf_fieldset_tickets table tfoot tr.overlined:hover td, #sf_fieldset_spectators table tbody tr.overlined:hover td, #sf_fieldset_tickets table tbody tr.overlined:hover td { background-color: #e4d4b1; }
#sf_fieldset_spectators table tbody .ticket-nums, #sf_fieldset_spectators table tbody .ticket-ids { font-size: 80%; }

#sf_fieldset_tickets .contact { white-space: nowrap; overflow: hidden; max-width: 230px; }

#sf_fieldset_tickets .workspace td.name, #sf_fieldset_spectators .workspace td.name { text-transform: uppercase; padding: 3px 10px 3px 20px; }
#sf_fieldset_tickets .workspace td, #sf_fieldset_spectators .workspace td { border-top: 1px solid black; padding: 3px 10px 3px 0; }
#sf_fieldset_tickets .workspace:first-child td, #sf_fieldset_spectators .workspace:first-child td { border: 0; }
#sf_fieldset_tickets td .workspace, #sf_fieldset_spectators td .workspace { display: none; }
#sf_fieldset_tickets td .tickets, #sf_fieldset_spectators td .tickets { display: block; }
#sf_fieldset_tickets td.nb_contacts { text-align: right; }
#sf_fieldset_tickets td.nb_contacts span { width: 2em; display: inline-block; padding-right: 2px; }

#sf_fieldset_unbalanced table, #sf_fieldset_unbalanced h2 { margin-bottom: 15px; }
#sf_fieldset_unbalanced table td { padding-right: 10px; }
#sf_fieldset_unbalanced table td.nb { text-align: right; }
#sf_fieldset_unbalanced table thead td { text-align: center; }
#sf_fieldset_unbalanced table thead td, #sf_fieldset_unbalanced table tfoot td { font-weight: bold; }
.controlled .qty { white-space: nowrap; }

.is_necessary_to ul { list-style-type: none; }

#sf_fieldset_resources .sf_admin_form_row { margin-right: 260px; }
#sf_fieldset_resources .sf_admin_form_field_booking_list { position: absolute; right: -220px; line-height: 1em; width: 230px; max-height: 360px; overflow-y: auto; }
#sf_fieldset_resources .sf_admin_form_field_reservation_confirmed .ui-helper-clearfix,
#sf_fieldset_resources .sf_admin_form_field_reservation_optional .ui-helper-clearfix,
#sf_fieldset_resources .sf_admin_form_field_blocking .ui-helper-clearfix { float: left; width: 200px; }
#sf_fieldset_resources .sf_admin_form_field_booking_list label,
#sf_fieldset_resources .sf_admin_form_field_booking_list .label { width: 200px; white-space: nowrap; display: inline-block; overflow: hidden; text-overflow: ellipsis; }
#sf_fieldset_resources .sf_admin_form_field_booking_list label { width: 180px; }
#sf_fieldset_resources .sf_admin_form_field_booking_list label, #sf_fieldset_resources .sf_admin_form_field_booking_list li { padding-left: 5px; }
#sf_fieldset_resources .sf_admin_form_field_booking_list.show ul { padding: 5px 5px 5px 25px; line-height: 1.5em; }
#sf_fieldset_resources .sf_admin_form_field_contact_id.sf_admin_foreignkey a { padding-left: 5px; font-size: 0; }
#sf_fieldset_resources .sf_admin_form_field_contact_id.sf_admin_foreignkey a .ui-icon { position: absolute; margin-top: 2px; display: inline-block; }

#sf_fieldset_technical_informations table table tbody,
#sf_fieldset_technical_informations table table td,
#sf_fieldset_technical_informations table table { display: block; }
#sf_fieldset_technical_informations table table tr { display: inline-block; }
#sf_fieldset_technical_informations table table tr:first-child input[type=text] { width: 120px; }
#sf_fieldset_technical_informations table table input[type=text][value=""] { border-style: dashed; }
#sf_fieldset_technical_informations .sf_admin_form_field_ExtraInformations .errors { display: none; }

.periodicity h2 { font-size: 120%; margin-bottom: 5px; }
.periodicity .ui-widget-content { display: inline-block; min-width: 280px; margin: 5px; vertical-align: top; padding: 5px; }
.periodicity .number { text-align: right; }
.periodicity .submit, .periodicity .back { margin: 5px; }
.periodicity .back a { float: none; }
.periodicity .back { margin-top: 10px; }
.periodicity .mods_reservation_optional { display: none; }

.sf_admin_action_version input { border-width: 0; padding: 0; width: 3em; text-align: right; }
.sf_admin_action_version label { padding-right: 10px; }
.sf_admin_action_version .max { color: black; font-weight: normal; }
.sf_admin_action_version { padding-top: 4px; padding-bottom: 4px; }

.diff {
  display: table-cell; margin-bottom: -4px;
  width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  font-style: italic;
}
.report-versions { margin-bottom: 10px; font-weight: bold; }
.report-versions span { text-align: center; display: table-cell; }
.report-versions .ui-icon { display: none; }

/* resource booking management */
.sf_admin_form_field_reservation_optional, .sf_admin_form_field_gauge_txt .option { display: none !important; }
.sf_admin_form_field_ExtraInformations:not(.show) th { display: none; }  
.sf_admin_form_field_ExtraInformations table table th { display: table-cell; padding-right: 10px; }  
.sf_admin_form_field_ExtraInformations.show th, .sf_admin_form_field_ExtraInformations.show td { padding-right: 10px; }
.sf_admin_form_field_ExtraInformations.show th { font-weight: bold; }
.sf_admin_form_field_ExtraInformations > table > tbody > tr table { border-bottom: 1px solid rgb(166, 201, 226); }  
.sf_admin_form_field_ExtraInformations > table > tbody > tr:last-child table { border-bottom: 0; }

/* the filters */
#sf_admin_filter .sf_admin_date span { display: block; }

/* the list */
.sf_admin_list table tbody tr.sf_admin_row .sf_admin_list_td_list_dates { padding: 0; }
.sf_admin_list .sf_admin_list_td_list_dates > div { padding: 4px; }
.sf_admin_list .sf_admin_list_td_list_dates a { display: block; white-space: nowrap; text-align: right; }
.sf_admin_list .sf_admin_list_td_list_dates .to { color: gray; }
.sf_admin_list table tbody tr.sf_admin_row .sf_admin_list_td_list_location { text-align: center; }
.sf_admin_list .sf_admin_list_td_list_booking_list .with-comment { font-style: italic; }
.sf_admin_list .sf_admin_action_sell a { background: rgb(223, 239, 252) url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png") no-repeat -48px -112px; }
.sf_admin_list .sf_admin_list_td_duration_h_r { white-space: nowrap; }
@media screen and (max-width: 1500px) {
.sf_admin_list .sf_admin_list_th_reservation_description, .sf_admin_list .sf_admin_list_th_list_extra_informations_list, .sf_admin_list .sf_admin_list_th_list_description, .sf_admin_list .sf_admin_list_td_reservation_description, .sf_admin_list .sf_admin_list_td_list_extra_informations_list, .sf_admin_list .sf_admin_list_td_list_description { display: none; }
}

#sf_admin_actions_menu_list .fg-menu-has-icons a { padding-left: 30px; width: calc(92% - 25px); }

#li-direct-access { position: absolute; right: 200px; margin-top: 54px; border: 0; background: none; }

.sf_admin_form_field_gauges_prices { margin-left: -150px; width: calc(100% + 130px); overflow: auto; background-color: white; }
.sf_admin_form .sf_admin_form_field_gauges_prices .ui-widget-content { padding: 5px; background: transparent; }
.sf_admin_form .sf_admin_form_field_gauges_prices table label { display: none; }
.sf_admin_form .sf_admin_form_field_gauges_prices td { padding: 1px 3px; text-align: center; }
#content .sf_admin_form .sf_admin_form_field_gauges_prices input { width: 4em !important; border: 0; background-color: rgba(255,255,255,0.5); text-align: right; }
