#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description {
  padding: 0;
}
#content .sf_admin_list table tbody tr.sf_admin_row td.sf_admin_list_td_list_description div {
  height: 100%;
  margin: 0;
  padding: 8px 4px;
  text-align: center;
}

select[disabled] {
  color: #444;
}

#content .sf_admin_field_organizers_list ul,
#content .sf_admin_field_workspaces_list ul,
#content .sf_admin_field_prices_list ul {
  padding: 5px 10px;
  margin-bottom: 10px;
}
#content .sf_admin_field_organizers_list ul li,
#content .sf_admin_field_workspaces_list ul li,
#content .sf_admin_field_prices_list ul li {
  margin-left: 10px;
}

#content .sf_admin_list_td_value, #content .sf_admin_list_th_value {
  width: 250px;
}
#content .sf_admin_list_td_Price select[name="price_manifestation[price_id]"] { width: 100px; }
#content .sf_admin_list_td_value input[type=text] { width: 100px; margin-left: 50px; }
#content .sf_admin_list_td_value div input[type=text] { margin-left: 40px; }
#content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-error,
#content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-highlight,
#content .sf_admin_list_td_value .sf_admin_flashes div.ui-state-success {
  padding: 3px 8px;
  font-size: 80%;
  margin: -8px 0 -13px 0;
}

