.sf_admin_templating table {
  margin: 2px 10px;
}
.sf_admin_templating td {
  padding-left: 5px;
}
#autocomplete_template_manifestation_model, #template_manifestations_list, input[type=submit] {
  margin-left: 10px;
}
#template_manifestations_list {
  max-width: none;
  width: 600px;
  max-height: none;
  height: 400px;
}
      
      
