#menu, #menu a {
  color: white;
}
#menu, #menu > li, #menu .second, #menu .third { background-color: #3c3b37; }
#menu, #menu .second { border: 1px solid black; border-top-width: 0; }
#menu .third { border: 1px solid black; border-left-width: 0; }
#menu > li {
  display: inline;
  padding: 0 7px;
}
#menu .second {
  position: absolute;
  display: none;
  top: 23px;
  margin: 0;
  padding: 0;
}
#menu li.show .second { display: inline; }
#menu .second li {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  min-width: 145px;
}
#menu .second li a {
  padding: 2px 15px 1px 15px;
  display: block;
  cursor: default;
}
#menu .second li a:last-child { margin-bottom: 3px; }
#menu .second li.onit > a,
#menu li.show {
  background-color: silver;
  color: #414141;
}
#menu .second a { text-decoration: none; }
#menu .second li.spaced {
  border-top: 1px solid black;
  margin-top: 5px;
  padding-top: 3px;
}

#menu .third {
  display: none;
  position: absolute;
  margin-left: 140px;
  margin-top: -20px;
  white-space: nowrap;
}
#menu .second .onit .third, #menu .second .onsub .third {
  display: block;
}
