body #content { width: 600px; }

.sf_admin_form fieldset {
  padding: 0 2px 2px 2px;
  width: 215px;
  float: left;
  margin: 2px;
}
#content .sf_admin_form.full-lines fieldset {
  padding: 0 30px;
  width: auto;
  float: none;
}

.sf_admin_form fieldset .ui-widget-header { margin: 0px 0 10px 0; }
.sf_admin_form fieldset .widget { padding-right: 10px; float: left; }
.sf_admin_form fieldset label { padding-right: 0px; }
.sf_admin_form fieldset .line { clear: both; margin-bottom: 5px; line-height: 2.2em; }

.sf_admin_form fieldset .ui-widget-content { padding: 2px; }
.sf_admin_form fieldset.sf_admin_action_save { text-align: right; }

#content .sf_admin_flashes { margin: 10px 5px 10px 5px; }

#content .sf_admin_form fieldset input[type=text] + label:after { content: ':'; }
#content .sf_admin_form fieldset .helper { float: right; width: 80px; }
#content .sf_admin_form fieldset input[type=text],
#content .sf_admin_form fieldset input[type=text]:not([size]),
#content .sf_admin_form fieldset textarea {
  float: right;
  width: 100px;
  text-align: right;
}
#content .sf_admin_form fieldset textarea {
  width: 280px;
  height: 150px;
  text-align:left;
  margin-right: -30px;
}

#content .sf_admin_form .ui-state-error .errors span { margin-top: 5px; }

fieldset.professional.check { clear: left; }

.templates { margin: 5px; padding: 5px; }

.li-form-header { padding: 10px; }
