.sf_admin_form_field_prices_list ul { list-style-type: none; }
.sf_admin_form_field_prices_list label { min-width: 100px; display: inline-block; }
.sf_admin_form_field_prices_list .value label { min-width: 0; padding-right: 10px; }
.sf_admin_form_field_prices_list .value input { text-align: right; width: 4em !important; }
.sf_admin_form .sf_admin_form_field_prices_list input { margin-right: 10px; }
.sf_admin_form_field_prices { display: none; }
.sf_admin_form_field_accounting_account { clear: both; }
.sf_admin_form_field_description .mce-tinymce { width: 95%; display: inline-block; }
