#sf_admin_container .sf_admin_list caption h1 {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
.sf_admin_list caption h1.organism {
  float: right;
}
.sf_admin_list caption h1 a:not([href="#"]) {
  color: silver;
}

#sf_admin_footer iframe {
  width: 100%;
  margin-top: 10px;
  height: 0;
}
#sf_admin_footer iframe #banner,
#sf_admin_footer iframe #menu {
  display: none;
}

input[type=text][disabled], textarea[disabled], select[disabled] {
  color: #222;
  background-color: #ddd;
  cursor: default;
}
