#sfWebDebugBar, #sf_admin_filters_buttons, #sf_admin_actions_button, .sf_admin_actions li,
.sf_admin_list td:first-child [type=checkbox], .sf_admin_list th:first-child [type=checkbox],
.sf_admin_list #sf_admin_list_th_actions, .sf_admin_list td:last-child:not([class]),
#sf_admin_header, .sf_admin_filter,
#sf_admin_pager, .sf_admin_actions,
#sf_admin_filters_buttons, #footer,
.sf_admin_td_actions, #sf_admin_list_th_actions,
.sf_admin_batch_checkbox, #sf_admin_list_batch_actions input { display: none; }

.sf_admin_list a { text-decoration: none; }

/* specifics */
#sf_admin_content_form .sf_admin_list .sf_admin_list_td_list_gauge .txt, .sf_admin_list ul .empty { display: none; }
.sf_admin_list .sf_admin_list_td_list_dates span { display: block; white-space: nowrap; text-align: right; }

#jappix-mini, #tdp-content .sf_admin_actions, #tdp-top-bar, #tdp-side-bar { display: none !important; }
