.cmd-ticket { padding: 5px; border: 1px solid silver; margin: 2em 0; page-break-after: always; background-color: whitesmoke }
.cmd-ticket br { display: none; }
.cmd-ticket .bc { border: 1px solid silver; padding: 10px; }
.cmd-ticket .desc { width: 350px; }
.cmd-ticket .clear { clear: both; }
.cmd-ticket .bc span { height: 140px; display: block; overflow: hidden; border-bottom: 5px solid white; }

