body {
  font-family: verdana, arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  margin: 0; padding: 0;
}
.page {
  border: 1px solid white;
  clear: both;
  page-break-after: always;
}
.spectator {
  display: none;
  font-size: 85%;
  font-weight: bold;
  position: absolute;
  top: 9mm;
  margin: 0 2mm;
}
.spectator span + span {
  display: none;
}
.ticket {
  width: 150mm;
  height: 58mm;
  position: relative;
}
.left, .right {
  overflow: hidden;
  border: 1px solid none;
  height: 58mm;
}
.left {
  border-color: blue;
  width: 108.8mm;
  float: left;
  text-align: right;
  padding-right: 3mm;
}
.right {
  border-color: green;
  width: 36.2mm;
  padding-left: 2mm;
}

p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 12pt;
  vertical-align: bottom;
}

.info {
  font-size: 8pt;
  font-weight: normal;
  padding: 0 5px 2px 5px;
  margin-top: 2px;
  height: 10pt;
  float: right;
}
.right .info { float: left; }
.info.deposite {
margin-left: 20px;
text-align: left;
float: left;
}
.info.normal.duplicate { display: block; }
.info.normal.duplicate span { display: none; }
.info.normal.duplicate span + span { display: inline; }
.info.normal { display: none; }
.info.cancellation {
  background-color: black;
  color: white;
}
.info.cancellation, .info.duplicate { border: 1px solid black; }
.manifid .tariftop:before { content: '-'; }
.manifid { font-size: 11pt; margin-top: 2px; }
.manifid .tariftop { font-size: 5pt; font-weight: normal; }

.left .manifid { text-align: left; margin-left: 2mm; float: left; }
.metaevt { font-size: 8pt; margin-top: 9mm; height: 10pt; clear: both; }
.lieuprix, .dateheure { font-size: 11pt; height: 13pt; }
.datetime { margin-top: 1.5mm; }
.placeprice { margin-top: 0.5mm; }
.placeprice .address { display: none; }
.price_vat { display: none; }
.price_name .name { display: none; }
.right .price_name { display: none; }
.event { font-size: 26px; margin-top: 1mm; height: 30px; }
.event-short { display: none; }
.cie { font-size: 12pt; margin-top: 1mm; height: 14pt; }
.seat, .mentions, .org { font-size: 8pt; height: 10pt; }
.placement, .mentions, .operation { font-weight: normal; }
.org { margin-top: 2mm; }
.seat { margin-top: 1mm; }
.transaction { font-size: 6pt; margin-top: 1.5mm; height: 8pt; }
.mentions { margin-top: 1mm; }
.mentions .cancelled-id { text-decoration: line-through; }
.left .mentions .keep-it { margin-left: 15px; }
.right .mentions .keep-it { margin-right: 15px; }

.right .manifid { text-align: right; margin-right: 2mm; float: right; }
.right .metaevt { font-size: 7pt; padding-top: 0.5pt; height: 9.5pt; }
.right .placeprice, .right .datetime { font-size: 8pt; padding-top: 3pt; height: 10pt; }
.right .place { font-size: 7pt; }
.right .event { font-size: 8pt; padding-top: 11px; height: 19px; }
.right .cie, .right .org { font-size: 8pt; }
.right .cie { padding-top: 4pt; height: 10pt; }
.right .transaction { font-weight: normal; }

span.eur { font-weight: normal; }

/* logo */
.ticket .logo {
  position: absolute;
  width: 150mm;
  height: 58mm;
}
.ticket .logo img { margin: 33mm 2mm 0mm 2mm; }
.ticket .more-mentions { font-size: 6pt; }

/* barcode */
.ticket .ticket-bc .id { display: none; }
.ticket .ticket-bc {
  position: absolute;
  width: 150mm;
  height: 58mm;
  text-align: left;
  margin-top: -20mm;
  padding-left: 2mm;
}

@page {
  marks: none;
  margin: 0;
  size: landscape;
}

.desc { display: none; }

.seating {
  position: absolute;
  left: 105mm;
  top: 44mm;
  width: 40mm;
  text-align: center;
  margin-left: -103mm;
  margin-top: 8mm;
  transform: rotate(270deg);
  transform-origin: top left;
}
#options { display: none; }

.workspace { display: none; }

.left .nb {
  position: absolute;
  top: 43mm;
  left: 400px;
  font-weight: normal;
}
.right .nb {
  position: absolute;
  font-weight: normal;
  font-size: 75%;
}

@media print {
  #sfWebDebug { display: none; }
}
