/** basics **/
.cmd-ticket { padding: 5px; border: 1px solid silver; margin: 2em 0; page-break-after: always; background-color: whitesmoke; }
.cmd-ticket:last-child { page-break-after: auto; }
.cmd-ticket .bc { border: 1px solid silver; padding: 10px; }
.cmd-ticket .desc { width: 350px; }
.cmd-ticket .clear { clear: both; }
.cmd-ticket .bc span { height: 140px; display: block; overflow: hidden; border-bottom: 5px solid white; }
.cmd-ticket .address, .cmd-ticket .gauge { display: none; }


/** A4 formatting with background layout **/
.cmd-ticket { font-family: DejaVuSans; font-weight: bold; font-size: 15pt; }
.cmd-ticket .desc, .cmd-ticket .bc { border: 0; width: 0; height: 0; }
.cmd-ticket { position: relative; background-color: white; }
.cmd-ticket { width: 210mm; height: 290mm; padding: 0; margin: 0; }
.cmd-ticket .background, .cmd-ticket table { z-index: 1; position: absolute; top: 0; left: 0; width: 100%; }
.cmd-ticket .background { z-index: 0; }
.cmd-ticket .bc span { position: absolute; transform-origin: center; transform: rotate(45deg); border: 0; }
.cmd-ticket .bc span img { width: 24mm; }
.cmd-ticket .desc > * { position: absolute; text-align: center; left: 38mm; right: 38mm; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cmd-ticket .desc > * > :first-child { display: none; }

.cmd-ticket .event { top: 64mm; font-size: 19pt; }
.cmd-ticket .event-2nd { top: 88.5mm; }
.cmd-ticket .description { top: 102mm; }
.cmd-ticket .date { top: 136mm; font-size: 16pt; }
.cmd-ticket .location { top: 147.5mm; font-size: 16pt; }
.cmd-ticket .address { top: 163mm; display: block; font-size: 9pt; }
.cmd-ticket .contact { top: 190mm; }
.cmd-ticket .gauge { top: 208mm; display: block; font-size: 11pt; margin: 0; }
.cmd-ticket .seat { top: 211.5mm; font-size: 19pt; }
.cmd-ticket .comment { top: 250mm; display: block; font-size: 10pt; width: 59mm; margin: 0px auto; white-space: normal; height: 3.5em; }
.cmd-ticket .comment span { display: inline-block; vertical-align: middle; }
.cmd-ticket .comment span:last-child { height: 100%; }
.cmd-ticket .ids { overflow: visible; font-size: 0; visibility: hidden; top: 251mm; }
.cmd-ticket .ids span { font-size: 5pt; position: absolute; visibility: visible; }
.cmd-ticket .ids span:first-child { display: inline; left: 2mm; }
.cmd-ticket .ids span + span { right: 2mm; }
.cmd-ticket .ids span + span:before { content: '#'; }
.cmd-ticket .price { top: 247mm; font-size: 5pt; right: 2mm; overflow: visible; }
.cmd-ticket .price span { display: none; }
.cmd-ticket .price span:last-child { display: block; position: absolute; right: 38mm; }

/* for screen rendering */
.cmd-ticket .bc span { top: 26.7mm; left: 88mm; }


/* for pdf rendering */


/** fonts **/
