.left {
  width: 114.8mm;
  float: right;
  text-align: left;
  padding-left: 5mm;
  padding-right: 0;
  margin-right: -10mm;
}
.right {
  text-align: right;
  width: 37.2mm;
  padding-right: 2mm;
  padding-left: 3mm;
}
.info { float: left; }
.right .info { float: right; }
.left .manifid {
  text-align: left;
  margin-right: 2mm;
  margin-left: 0;
  float: right;
}
.right .manifid {
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

/* logo */

.ticket .logo { text-align: right; }
.ticket .ticket-bc {
  text-align: right;
  width: 106.2mm;
  padding-left: 0;
  margin-left: -1mm;
}

.left .mentions .keep-it { margin: 0 -6mm 0 0; }
.right .mentions .keep-it { margin: 0 0 0 20px; }
.ticket .left .optional {
  position: absolute; 
  right: 1mm;
}

