.ticket { height: 50mm; width: 138mm; }
.left, .right { height: 50mm; }
.ticket .left { margin-right: -16mm; }
.ticket .right { width: 33mm; }
.page { height: 137mm; overflow: hidden; }
.ticket .logo { height: 50mm; }

.metaevt { margin-top: 4mm; }
.org, .cie { margin-top: 0; }

.right .cie { padding-top: 0; padding-bottom: 1px; }
.right .event { margin-top: 1.7mm; }

.left .placeprice { font-size: 0; float: left; margin-right: 2mm; }
.left .placeprice .place { font-size: 10pt; }
.left .price_name { margin-top: 0.6mm; }
.left .event { width: 94mm; text-overflow: ellipsis; }

.right .placeprice { font-size: 0; }

.ticket .left .manifid { margin-right: 21mm; }
.ticket .left .ticket-bc { height: 10mm; width: 30mm; margin-top: -11mm; right: 2mm; }
.ticket .left .mentions .optional { right: 2mm; }

/* rotate directly */
.ticket { transform: rotate(270deg); transform-origin: top left; margin-top: 137mm; }
