.named-tickets { display: none; }
.named-tickets .ticket { white-space: nowrap; }
.named-tickets .sample { display: none; }
.named-tickets h4 { margin-bottom: 0; }
.named-tickets input[type=text] { width: 7.8em; }
.named-tickets input[maxlength=255] { width: 15.5em; }
.named-tickets .contact_email input[type=text] { width: 15em; }
.named-tickets .contact_firstname label { display: none; }

.submit { margin: 20px 0px 0px 270px; }

@media screen and (min-width: 1200px){
.named-tickets input[type=text] { width: 9em; }
}
@media screen and (max-width: 920px){
.named-tickets input[type=text] { width: 7em; }
}
