.named-tickets { display: none; }
.named-tickets .ticket { white-space: nowrap; }
.named-tickets .ticket .seat_name { font-weight: bold; font-size: 110%; }
.named-tickets .sample { display: none; }
.named-tickets h4 { margin-bottom: 0; }
.named-tickets input[type=text] { width: 7.8em; }
.named-tickets input[maxlength=255] { width: 15.5em; }
.named-tickets .contact_email input[type=email] { width: 15em; }
.named-tickets .price_name option[value=""] { display: none; }

.named-tickets label { position: absolute; margin: 2px 0 0 5px; cursor: text; font-style: italic; color: gray; }
.named-tickets .contact_title label { display: none; }
.named-tickets .contact_title option[value=""] { color: gray; font-style: italic; }

.submit { text-align: center; }
#tickets .submit button { font-size: 120%; }
