#categories { z-index: 2; }
#categories ul { padding: 5px; list-style-type: none; }
#categories .category { width: 125px; text-overflow: ellipsis; overflow: hidden; display: block; white-space: nowrap; }
#categories .prices { width: 15em; font-size: 100%; }
#categories .qty input { width: 1.5em; font-size: 100%; text-align: center; }
#categories .qty a { text-decoration: none; border: 1px solid gray; padding: 0px 4px; margin: 0 -1px; border-radius: 2px; cursor: default; font-family: monospace; }

#plans .gauge .magnify { display: block; right: 35px; }
#plans .infos { display: none; }
#plans .gauge { overflow: auto; background-color: white; }
#plans-loading { font-weight: bold; text-align: center; position: absolute; margin-top: 240px; width: 100%; }

#tickets { float: left; width: 250px; min-height: 500px; }
#tickets, #tickets button, .named-tickets select, .named-tickets input, .named-tickets button { font-size: 85%; }
.named-tickets h4 > * { display: inline-block; }
.named-tickets .taxes:before { content: '+ '; }
.named-tickets .gauge_name { min-width: 6.5em; }
.named-tickets .seat_name { min-width: 3em; }
.named-tickets .value { min-width: 3.7em; }
.named-tickets .taxes { min-width: 3.5em; font-weight: normal; }

/* TABS */
#container .tab { position: absolute; margin-left: 260px; width: calc(100% - 310px); margin-top: 1.5em; }
#container .tab + .tab { background-color: white; }
#container .tab .li-content { display: block; border: 1px solid grey; margin-top: -1px; }
#container .tab.hidden .li-content { visibility: hidden; min-height: 0 !important; height: 0; }
#container .tab.hidden { height: 0; }
#container h4 { cursor: pointer; width: 17em; padding: 1px 0 2px 10px; margin: 0 0 0 265px; border: 1px solid grey; border-top-left-radius: 3px; border-top-right-radius: 3px; position: absolute; }
#container h4 + h4 { margin-left: calc(265px + 19em); }
#container h4.hidden:hover, #container h4:hover { background-color: #EEE; color: black; }
#container h4.hidden { background-color: #DDD; color: #666; }
#container #plans .li-content { min-height: 300px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background-color: white; }
#container #plans .gauge { margin-left: 0; }
#container #plans .gauge .magnify { margin-top: 5px; }
#container #categories .li-content { padding: 10px; }
#container .li-content .description { padding: 5px; }

/* < 800px */
@media screen and (max-width: 800px) {
#tickets { float: none; }
#container { height: auto !important; }
#container h4 { margin-left: 5px; margin-top: -17px; }
#container h4 + h4 { margin-left: calc(5px + 19em); }
#container .tab { margin-left: 0; width: 100%; position: static; }
}

/* < 480px */
@media screen and (max-width: 480px) {
#container h4, #container #plans { display: none; }
#container #categories.hidden .li-content { visibility: visible; height: auto; margin-top: 17px; }
#container h4[data-tab=#categories].hidden { background-color: white; color: black; }
}
