.product { border-radius: 5px; border: 2px solid silver; padding: 10px; }
.product:hover { border: 2px solid gray; }
.product table td { vertical-align: top; text-align: justify; }
.product .informations { width: 52%; padding-right: 20px; }
.product .informations .image { text-align: center; }
.product .declination { float: left; margin-right: 40px; }
.product .declination .text { max-height: 5em; overflow: hidden; overflow-y: auto; width: 390px; padding-right: 10px; text-align: justify; }
.product .declination p { margin: 0; padding: 0; padding-bottom: 10px; }
.product .declination .prices { width: 400px; margin-top: 5px; }
.product .declination .prices select { margin: 0; }

.clear { clear: both; }

@media screen and (min-width: 1400px){
.product .informations { width: 33%; }
}
@media screen and (max-width: 1000px){
  .product > table { display: inline-block; }
  .product > table > *, .product > table > * > *, .product > table > * > * > * { display: block; }
  .product .informations { width: 95%; }
}
