body {
  line-height: 1;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

#content {
	background-color: #FFF;
}

#menu {
	display: none;
}

#sf_admin_bar {
	display: none
}

#sf_admin_list.table {
	margin-top: 220px;
}

.sf_admin_filter select {
  width: 180px;
}

#command .overbooked td {
  border-top: 1px solid OrangeRed;
  border-bottom: 1px solid OrangeRed;
}
#command .overbooked td:first-child {
  border-left: 1px solid OrangeRed;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#command .overbooked td:last-child {
  border-right: 1px solid OrangeRed;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#contact-form {
	margin-left: 45px;
}
#contact-form .field {
  background-color: white;
  padding: 1px 3px;
  border-radius: 3px;
}
#contact-form .field input,
#contact-form .field textarea {
	border: 1px solid black;
	border-radius: 3px;
	background-color: #BDDCFF;
}
#contact-form .field label {
  width: 140px;
  display: block;
  float: left;
  margin-top: 3px;
	font-weight: bold;
}
#contact-form .field.error {
  border: 1px solid red;
}
#contact-form .submit {
	margin-left: 142px;
}

#member_card_types .qty input, #member_card_types .qty,
#member_card_types .total,
#member_card_types .value {
  text-align: right;
}
#member_card_types .qty input { width: 2em; }
#member_card_types tfoot .qty { padding-right: 5px; }
#member_card_types tfoot { font-weight: bold; }

#command .value, #command .qty, #command .total {
  text-align: right;
}

#cart-widget {
  position: absolute;
  right: 20px;
	margin-top: -45px;
  background-color: white;
  border: 1px solid black;
  padding: 0;
  height: 37px;
  overflow: hidden;
}
#cart-widget .show {
  float: left;
  font-size: 0;
  padding-top: 37px;
  padding-right: 83px;
  display: block;
  background-image: url('../images/total.jpg');
  background-repeat: none;
}
#cart-widget table {
  margin: 0;
  margin-left: 83px;
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0px;
}
#cart-widget tbody td { font-size: 9px; }
#cart-widget td {
  border: 0;
  padding: 0 10px;
  height: 10px;
  margin: 0;
}
#cart-widget td.operand { text-align: center; }
#cart-widget tfoot tr { font-weight: bold; }
#cart-widget .value, #cart-widget .qty { text-align: right; }

