html { background-color: white; }
body { line-height: 1; font: 13px/1.231 arial,helvetica,clean,sans-serif; }

#content { background-color: #FFF; }
#menu { display: none; }
#sf_admin_bar { display: none; }
#sf_admin_container { position: static; }

#sf_admin_list.table { margin-top: 220px; }
.sf_admin_list_td_dates ul { margin: 0; }
.sf_admin_list_td_dates li { list-style-type: none; }
.sf_admin_list .sf_admin_list_th_month, .sf_admin_list .sf_admin_list_td_month { display: none; }

.sf_admin_filter select { width: 180px; }

#title { font-size: 14px; }

#sf_admin_container h1 { font-size: 2em; }

#command .overbooked td {
  border-top: 1px solid OrangeRed;
  border-bottom: 1px solid OrangeRed;
}
#command .overbooked td:first-child {
  border-left: 1px solid OrangeRed;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#command .overbooked td:last-child {
  border-right: 1px solid OrangeRed;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#contact-form { margin-left: 45px; }
#contact-form .field {
  background-color: white;
  padding: 1px 3px;
  border-radius: 3px;
}
#contact-form .field input,
#contact-form .field textarea {
	border: 1px solid black;
	border-radius: 3px;
	background-color: whitesmoke;
}
#contact-form .field label {
  width: 140px;
  display: block;
  float: left;
  margin-top: 3px;
	font-weight: bold;
}
#contact-form .field.error { border: 1px solid red; }
#contact-form .submit { margin-left: 142px; }

#member_card_types .qty input, #member_card_types .qty, #member_card_types .total,
#member_card_types .value { text-align: right; }
#member_card_types .qty input { width: 2em; }
#member_card_types tfoot .qty { padding-right: 5px; }
#member_card_types tfoot { font-weight: bold; }

#command .value, #command .qty, #command .total { text-align: right; }

#cart-widget {
  position: absolute;
  right: 20px;
	margin-top: -50px;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 3px 0px 3px 0px;
  height: 37px;
  overflow: hidden;
	border-radius: 5px;
}
#cart-widget .show {
  float: left;
  font-size: 0;
  padding-top: 37px;
  padding-right: 83px;
  display: block;
  background-image: url('../images/vel/cart-48.png');
  background-repeat: no-repeat;
	background-position: center center;
}
#cart-widget table {
  margin: 0;
  margin-left: 83px;
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0px;
}
#cart-widget tbody td { font-size: 9px; }
#cart-widget td {
  border: 0;
  padding: 0 10px;
  height: 10px;
  margin: 0;
}
#cart-widget td.operand { text-align: center; }
#cart-widget tfoot tr { font-weight: bold; }
#cart-widget .value, #cart-widget .qty { text-align: right; }

#command {
	border: 1px solid black;
	border-radius: 5px;
	border-spacing: inherit;
	margin-left: 25px;
}
#command td { padding: 2px 6px 2px 6px; border-spacing: inherit; }
#command td:last-child { padding: 2px 0px 2px 6px; }
#command thead { background-color: whitesmoke; font-weight: bold; }
#command tbody tr:nth-child(odd) { background-color: white; }
#command tbody tr:nth-child(even) { background-color: #DCDCDC; }
#command tfoot .total { background-color: whitesmoke; }
#command tfoot { font-weight: bold; }

#payments table {
	margin-left: 25px;
	border: 1px solid black;
  border-radius: 5px;
  border-spacing: inherit;
}
#payments td {
  padding: 2px 6px 2px 6px;
  border-spacing: inherit;
}
#payments thead { background-color: whitesmoke; font-weight: bold; }

#comment .textarea, #comment textarea { width: 350px; height: 3em; font-size: 10px; }
#comment .textarea { border: 2px solid silver; overflow: auto; padding: 3px 8px; }

#actions { margin: 20px 0px 0px 400px; }
#actions a {
	font-size: 14px;
	border: 1px solid silver;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
#actions a:hover { color: #000; background: #F4F4F4; }

.gauge { margin-left: 25px; }
.gauge thead { font-weight: bold; }
.gauge tfoot { font-weight: bold; }
.gauge td { padding: 2px 6px 2px 6px; }

.gauge .picture .seated-plan { display: none; }
.gauge .picture a { text-decoration: none; padding: 3px 5px; background-color: whitesmoke; border: 1px solid silver; cursor: default; border-radius: 2px; }
.gauge .picture a:before { content: '↓ '; }
.gauge .picture a:after  { content: ' ↓'; }
.gauge .picture a.opened:before { content: '↑ '; }
.gauge .picture a.opened:after  { content: ' ↑'; }

.submit { margin: 20px 0px 0px 400px; }

#event {
	font-weight: bold;
	font-size: medium;
	padding: 10px 0px 10px 25px;
}

.sf_admin_list tfoot { display: none; }
.sf_admin_list td td { font-weight: bold; }
#sf_admin_container .sf_admin_list thead th { background-color: whitesmoke; }
p.help { margin-top: -20px; }

#transactions a { text-decoration: none; }
#transactions li { margin-top: 2px; }

#manifestations li { margin-top: 2px; }

  border-radius: 5px;
	text-decoration: none;
	padding: 5px;
	color: #313739;
	background: #F4F4F4; /* Old browsers */
	background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
a.actions a:hover {
  color: #000;
  background: #F4F4F4; 
}

#ariane {
	position: absolute;
	height: 43px;
	top: 0px;
	margin: 8px 0px 0px -10px;
	border: 1px solid silver;
  border-radius: 5px;
  text-decoration: none;
  padding: 0px;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
#ariane .command { display: none; }

.access {
	display: inline-table;
	height: 43px;
	padding: 0px 18px 0px 1px;
	font-weight: bold;
	margin-left: 0px;
	background-attachment: scroll;
  background-clip: border-box;
  text-decoration: none;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
	background-image: url("../images/vel/breadcrumb.png");
  background-origin: padding-box;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.access:last-child { background-image: none; padding-right: 5px; }

#ariane form, #ariane p { margin: 0; padding: 0; display: table-row; }
#ariane a {	text-decoration: none; }
#ariane a:hover { text-decoration: underline; }
.access a { display: table-row; }
.active a, #sf_admin_container .active a, #ariane .active {	color: #AD0000; }
.past a, #sf_admin_container .past a, #ariane .past  {	color: #888; }
.future a, #sf_admin_container .future a, #ariane .future { color: #000; } 
.errors { color: red; }

#ariane .i18n { text-align: right; }
#ariane .i18n a { font-size: 0; display: inline-block; width: 16px; height: 11px; background: white url('../images/flags.png') no-repeat scroll 1px 1px; padding: 1px; border: 1px solid silver; }
#ariane .i18n .culture-fr { background-position: -227px -172px; }
#ariane .i18n .culture-en { background-position: -283px -172px; }
#ariane .i18n .culture-br { background-image: url('../images/breizhoneg.png'); }

.prices_list tfoot { display: none; }

#member_cards li { padding-bottom: 10px; }

.sf_admin_form_row label { font-weight: bold; }

#oplog {
	position: absolute;
	top: 70px;
	right: 20px;
	width: 185px;
	padding: 20px 10px 20px 10px;
	background: whitesmoke;
	border: 1px solid gray;
	border-radius: 5px;
	text-align: center;
}
#oplog a { text-decoration: none; color: red; font-weight: bold; display: block; padding-bottom: 10px; }

tfoot, thead { font-weight: bold; }
tbody .total { text-align: right; }

#location, #manifestation { display: inline-block; }

#location { font-weight: bold; }

#manifestation { padding: 0px 5px 15px 25px; }

#login label { min-width: 125px; display: inline-block; }
#login .submit { margin-left: 0; }
#login .submit input { margin-left: 5px; }

.event-fields { display: none; }

/* the jroller elements to remove */
.sf_admin_actions_block, #sf_admin_filters_buttons { display: none; }
