html { background-color: white; }
body { line-height: 1; font: 13px/1.231 arial,helvetica,clean,sans-serif; }
.clear { clear: both; }

#content { background-color: #FFF; margin-top: 70px; }
#menu { display: none; }
#sf_admin_bar { display: none; }
#sf_admin_container { position: static; }

#sf_admin_list.table { margin-top: 220px; }
.sf_admin_list_td_dates ul { margin: 0; white-space: nowrap; }
.sf_admin_list_td_dates li { list-style-type: none; }
.sf_admin_list .sf_admin_list_th_month, .sf_admin_list .sf_admin_list_td_month { display: none; }
.sf_admin_list_td_list_companies ul { margin: 0; padding: 0; }

.sf_admin_filter select { width: 180px; }

#title { font-size: 14px; }

#sf_admin_container h1 { font-size: 2em; }

#command .overbooked td {
  border-top: 1px solid OrangeRed;
  border-bottom: 1px solid OrangeRed;
}
#command .overbooked td:first-child {
  border-left: 1px solid OrangeRed;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#command .overbooked td:last-child {
  border-right: 1px solid OrangeRed;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

#contact-form { margin-left: 45px; }
#contact-form .field {
  background-color: white;
  padding: 1px 3px;
  border-radius: 3px;
}
#contact-form .field input,
#contact-form .field textarea {
	border: 1px solid black;
	border-radius: 3px;
	background-color: whitesmoke;
}
#contact-form .field label {
  width: 140px;
  display: block;
  float: left;
  margin-top: 3px;
	font-weight: bold;
}
#contact-form .field.error { border: 1px solid red; }
#contact-form .submit { margin-left: 142px; }

#member_card_types .qty input, #member_card_types .qty, #member_card_types .total, #member_card_types .value { text-align: right; }
#member_card_types .qty input { width: 2em; }
#member_card_types tfoot .qty { padding-right: 5px; }
#member_card_types tfoot { font-weight: bold; }

#command .value, #command .qty, #command .total { text-align: right; }

#cart-widget {
  position: absolute;
  right: 20px;
	top: 2px;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 3px 0px 3px 0px;
  height: 45px;
  overflow: hidden;
	border-radius: 5px;
}
#cart-widget.with-store { height: 55px; }
#cart-widget .show {
  float: left;
  font-size: 0;
  padding-top: 37px;
  padding-right: 83px;
  display: block;
  background-image: url('../images/vel/cart-48.png');
  background-repeat: no-repeat;
	background-position: center center;
}
#cart-widget table {
  margin: 0;
  margin-left: 83px;
  font-size: inherit;
  border-collapse: collapse;
  border-spacing: 0px;
}
#cart-widget tbody td { font-size: 9px; }
#cart-widget td {
  border: 0;
  padding: 0 10px;
  height: 10px;
  margin: 0;
}
#cart-widget td.operand { text-align: center; }
#cart-widget tfoot tr { font-weight: bold; }
#cart-widget .value, #cart-widget .qty { text-align: right; }
#cart-widget tfoot .timer { font-weight: normal; font-size: 50%; }

#command { border: 1px solid black; border-radius: 5px; border-spacing: inherit; margin-left: 25px; }
#command td { padding: 2px 6px 2px 6px; border-spacing: inherit; }
#command td:last-child { padding: 2px 4px 2px 6px; }
#command thead { background-color: whitesmoke; font-weight: bold; }
#command tbody tr:nth-child(odd) { background-color: white; }
#command tbody tr:nth-child(even) { background-color: #DCDCDC; }
#command tfoot .extra-taxes, #command tfoot .total-total, #command tfoot .total { background-color: whitesmoke; }
#command tfoot .total-total { border-bottom-right-radius: 4px; }
#command tfoot { font-weight: bold; }
#details a, #details label { display: inline-block; }
#details label { min-width: 80px; }
#details a { min-width: 35px; text-decoration: none; }
#details a:hover { text-decoration: underline; }

#payments table {
	margin-left: 25px;
	border: 1px solid black;
  border-radius: 5px;
  border-spacing: inherit;
}
#payments td {
  padding: 2px 6px 2px 6px;
  border-spacing: inherit;
}
#payments thead { background-color: whitesmoke; font-weight: bold; }
#payments { float: left; margin-right: 50px; }

#cmd-links .links { padding-left: 0; }
#cmd-links .links h3 { font-size: 1.17em; font-weight: inherit; }

#comment .textarea, #comment textarea { width: 350px; height: 3em; font-size: 10px; }
#comment .textarea { border: 2px solid silver; overflow: auto; padding: 3px 8px; }

#actions { margin: 20px 0px 0px 400px; }
#actions a {
	font-size: 14px;
	border: 1px solid silver;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
#actions a:hover { color: #000; background: #F4F4F4; }

.gauge { margin-left: 25px; }
.gauge thead { font-weight: bold; }
.gauge tfoot { font-weight: bold; }
.gauge td { padding: 2px 6px 2px 6px; }

.gauge .picture .seated-plan { display: none; }
.gauge .picture a { text-decoration: none; padding: 3px 5px; background-color: whitesmoke; border: 1px solid silver; cursor: default; border-radius: 2px; }
.gauge .picture a:before { content: '↓ '; }
.gauge .picture a:after  { content: ' ↓'; }
.gauge .picture a.opened:before { content: '↑ '; }
.gauge .picture a.opened:after  { content: ' ↑'; }
.gauge.full-seating { padding-left: 580px; margin-bottom: 20px; border: 2px solid white; }
.gauge.full-seating .seated-plan.picture * { cursor: auto; }
.gauge.full-seating .seated-plan.picture .seat { cursor: crosshair; }
.gauge.full-seating .seats .auto { font-size: 10px; padding: 0px; }
.gauge.full-seating .load-data { position: relative; z-index: 1; top: -300px; left: 150px; transform: scale(1.5); margin-bottom: -150px; }
.gauge.full-seating .full-seating { position: absolute; top: 184px; left: 25px; width: 575px; border: 2px solid silver; overflow: auto; }
.gauge.full-seating, .gauge.full-seating .full-seating { border-radius: 5px; }
.gauge.full-seating.active, .gauge.full-seating.active > *, .gauge.full-seating:hover, .gauge.full-seating:hover > * { z-index: 2; border-color: silver; }
.gauge.full-seating:hover, .gauge.full-seating:hover > * { z-index: 4; border-color: gray; }
.gauge.full-seating .blank { background-color: white; width: 4px; height: 100px; position: absolute; margin-left: -28px; z-index: 3; display: none; }
.gauge.full-seating:hover .blank { z-index: 5; }
.gauge.full-seating.active .blank, .gauge.full-seating:hover .blank { display: block; }
.manifestation_bottom { margin-left: 600px; }

@media screen and (min-width: 1200px){
.gauge.full-seating .full-seating { width: 725px; }
.gauge.full-seating { padding-left: 730px; }
.manifestation_bottom { margin-left: 750px; }
}
@media screen and (min-width: 1400px){
.gauge.full-seating .full-seating { width: 875px; }
.gauge.full-seating { padding-left: 880px; }
.manifestation_bottom { margin-left: 900px; }
}
@media screen and (max-width: 1000px){
.gauge.full-seating .full-seating { width: 475px; }
.gauge.full-seating { padding-left: 480px; }
.gauge.full-seating .prices { max-width: 500px; font-size: 85%; }
.manifestation_bottom { margin-left: 500px; }
}
@media screen and (max-width: 870px){
.gauge.full-seating .full-seating { width: 375px; }
.gauge.full-seating { padding-left: 380px; }
.gauge.full-seating .prices { max-width: 500px; font-size: 75%; }
.manifestation_bottom { margin-left: 400px; }
}
@media screen and (max-width: 750px){
.gauge.full-seating .full-seating { display: none; }
.gauge.full-seating { padding-left: 10px; }
.gauge.full-seating .prices { font-size: 100%; }
.manifestation_bottom { margin-left: 0; }
}

#event {
	font-weight: bold;
	font-size: medium;
	padding: 10px 0px 10px 25px;
}

.sf_admin_list tfoot { display: none; }
.sf_admin_list td td { font-weight: bold; }
#sf_admin_container .sf_admin_list thead th { background-color: whitesmoke; }
p.help { margin-top: -20px; }

#transactions a { text-decoration: none; }
#transactions li { margin-top: 2px; }

#manifestations li {
  margin-top: 2px;
  border-radius: 5px;
	text-decoration: none;
	padding: 5px;
	color: #313739;
	background: #F4F4F4; /* Old browsers */
	background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
	background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
a.actions a:hover {
  color: #000;
  background: #F4F4F4; 
}

#ariane {
	position: absolute;
	height: 49px;
	top: 0px;
	margin: 8px 0px 0px -10px;
	border: 1px solid silver;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 0 0 5px;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
}
#ariane .command { display: none; }
#ariane .access {
	display: inline-table;
	height: 49px;
	padding: 0px 25px 0px 2px;
	font-weight: bold;
	margin-left: 0px;
	background-attachment: scroll;
  background-clip: border-box;
  text-decoration: none;
  color: #313739;
  background: #F4F4F4; /* Old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E7E7E7 37%, #DBDBDB 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F4F4F4), color-stop(37%,#E7E7E7), color-stop(100%,#DBDBDB)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* IE10+ */
  background: linear-gradient(to bottom, #F4F4F4 0%,#E7E7E7 37%,#DBDBDB 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F4F4', endColorstr='#DBDBDB',GradientType=0 ); /* IE6-9 */
	background-image: url("../images/vel/breadcrumb.png");
  background-origin: padding-box;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto auto;
}
#ariane .access:last-child { background-image: none; padding-right: 5px; }
#ariane form, #ariane p { margin: 0; padding: 0; display: table-row; }
#ariane a {	text-decoration: none; }
#ariane a:hover { text-decoration: underline; }
#ariane .access a { display: table-row; }
#ariane .active a, #sf_admin_container .active a, #ariane .active {	color: #AD0000; }
.past a, #sf_admin_container .past a, #ariane .past  {	color: #888; }
.future a, #sf_admin_container .future a, #ariane .future { color: #000; } 
.errors { color: red; }

#sf_admin_container .notice, #sf_admin_container .success, #sf_admin_container .error { display: none; }
#sf_admin_container .sf_admin_flashes .notice, #sf_admin_container .sf_admin_flashes .success, #sf_admin_container .sf_admin_flashes .error { display: block; }
.sf_admin_flashes .ui-icon { float: left; }
.sf_admin_flashes div { padding: 5px 10px; position: absolute; min-width: 700px; z-index: 1; }

#ariane .i18n { text-align: right; }
#ariane .i18n a { font-size: 0; display: inline-block; width: 16px; height: 11px; background: white url('../images/flags.png') no-repeat scroll 1px 1px; padding: 1px; border: 1px solid silver; }
#ariane .i18n .current { border: 1px solid gray; }
#ariane .i18n .culture-fr { background-position: -227px -172px; }
#ariane .i18n .culture-en { background-position: -283px -172px; }
#ariane .i18n .culture-br { background-image: url('../images/breizhoneg.png'); }

.prices_list tfoot { display: none; }

#member_cards li { padding-bottom: 10px; }

.sf_admin_form_row label { font-weight: bold; }

#oplog {
	position: absolute;
	top: 74px;
	right: 20px;
	width: 185px;
	height: 54px;
	padding: 0px 10px;
	background: whitesmoke;
	border: 1px solid gray;
	border-radius: 5px;
	text-align: center;
}
#oplog a { text-decoration: none; color: red; font-weight: bold; display: block; padding-bottom: 4px; }

tfoot, thead { font-weight: bold; }
.prices .value, .prices .total { text-align: right; max-width: 100px; }
.prices .submit { text-align: right; }
.prices .seats { text-align: right; width: 150px; }
.prices .seats .seat { padding-right: 5px; }
.prices .quantity { text-align: center; }
.prices .explanation { text-align: center; }
.prices .explanation span { font-size: 80%; color: silver; display: inline-block; width: 125px; }
#location, #manifestation { display: inline-block; }
#location { font-weight: bold; }
#manifestation { padding: 0px 5px 15px 25px; }
#login label { min-width: 125px; display: inline-block; }
#login .submit { margin-left: 0; }
#login .submit input { margin-left: 5px; }
.event-fields { display: none; }
.prices tfoot .extra-taxes, .prices tfoot .total { border-top: 1px solid black; }

/* the jroller elements to remove */
.sf_admin_actions_block, #sf_admin_filters_buttons { display: none; }
