.sf_admin_list tbody a:hover { text-decoration: underline; }
.sf_admin_date, .sf_admin_list_td_list_workspaces .workspace { white-space: nowrap; }
.sf_admin_list_td_list_workspaces .workspace { max-width: 100px; overflow: hidden; text-overflow: ellipsis; display: block; }
.sf_admin_date { font-size: 90%; }
.sf_admin_list_td_list_event, .sf_admin_list_td_list_date, .sf_admin_list_td_list_resource { font-weight: bold; }
#sf_admin_filter .sf_admin_date span { display: block; text-align: right; max-width: 220px; }
#sf_admin_filter .sf_admin_date input[type="text"] { margin-right: 0; }
.sf_admin_list table tbody tr.sf_admin_row .sf_admin_boolean { text-align: center; }

.sf_admin_list .sf_admin_action_confirm .fg-button-mini {
  background-image: url("../sfAdminThemejRollerPlugin/css/jquery/redmond/images/ui-icons_6da8d5_256x240.png");
  background-position: -64px -144px;
}
