.feed { max-height: 20em; overflow: auto; padding: 0 0.5em; }
.feed article { margin-bottom: 2em; }
.feed article p { margin-bottom: 0.5em; }
.feed article h1 { font-size: 1.3em; }
.feed article h2 { font-size: 1.1em; }
.feed article h3 { font-size: 1.0em; }
