section.srv-direct-survey-container {
  margin-bottom: 10px;
  width: 1000px;
}
section.srv-direct-survey-container h1 {
  padding: 5px 0;
}

form.srv-direct-survey {
  color: red;  /* hide AnswersGroups labels and ids */
  margin-bottom: 20px;
}

form.srv-direct-survey td { color: #000; }


form.srv-direct-survey table table th {
  color: #333; /* contact names */
  padding-right: 20px;
  border-bottom: 1px solid #999;
  width: 200px;
}
form.srv-direct-survey table table td {
  border-bottom: 1px solid #999;
}

form.srv-direct-survey table table table td,
form.srv-direct-survey table table table th {
  border-bottom: none;
  padding: 3px;
}

/* query label */
form.srv-direct-survey table table th label { color: #000; }
