#sf_admin_filter {
  background-color: white;
  position: absolute;
  margin: 70px 0 0 -250px;
  left: 50%;
  width: 400px;
  display: none;
}
#sf_admin_filter > div {
  width: 500px;
}
#criterias {
  margin-top: 5px;
}
#criterias ul { margin: 5px; display: table; }
#criterias li {
  list-style-type: none;
  display: table-row;
}
#criterias li > label, #criterias li > span { display: table-cell; vertical-align: top; }
#criterias li > span { padding-left: 10px; }
#criterias li > label { padding-top: 5px; }
#criterias li.submit { display: none; }

#ui-datepicker-div { background-color: white; }
