.summary tbody td {
  padding-top: 5px;
  padding-bottom: 3px;
}
.summary .id {
  width: 150px;
}
.summary td a:hover {
  text-decoration: underline;
}

.sf_admin_list_td_debt .debt {
  font-weight: bold;
}
