.sf_admin_list .sf_admin_list_td_rank, .sf_admin_list .sf_admin_list_th_rank, .sf_admin_list .sf_admin_list_th_Hold, .sf_admin_list .sf_admin_list_td_Hold { display: none; }
#sf_admin_footer #hold_name { display: none; }
.sf_admin_list_th_list_transaction_id, .sf_admin_list table tbody tr.sf_admin_row .sf_admin_list_td_list_transaction_id { width: 8em; }
.sf_admin_list table tbody tr.sf_admin_row .sf_admin_list_td_list_transaction_id { text-align: right; }

.sf_admin_list tbody .sf_admin_row td { -moz-user-select: none; user-select: none; }
.sf_admin_list tbody .sf_admin_row .sf_admin_number { text-align: right; }

.sf_admin_td_actions .sf_admin_action_plus .fg-button { background-position: -16px -128px; }
.sf_admin_td_actions .sf_admin_action_minus .fg-button { background-position: -48px -128px; }

.sf_admin_list .li-direct-out-of-hold td { background-color: rgba(255,0,0,0.12); }
.sf_admin_list .li-out-of-hold td { background-color: rgba(255,0,0,0.05); }
