#li_fieldset_simplified { position: absolute; z-index: 10; height: 740px; width: 972px; margin-top: -5px; font-size: 180%; display: none; }
#li_fieldset_simplified #li_transaction_field_simplified { width: 100%; height: 100%; }

#li_fieldset_simplified .header > * { width: 478px; display: inline-block; margin-bottom: 5px; }
#li_fieldset_simplified .products-types { width: 478px; cursor: pointer; }
#li_fieldset_simplified .products-types li { display: inline-block; padding: 15px 5px; border-radius: 3px; width: 25%; text-align: center; font-size: 110%; font-weight: bold; }
#li_fieldset_simplified .products-types li:first-child { width: 43%; }
#li_fieldset_simplified .products-types li.selected { background-color: rgba(255, 237, 189, 0.4); }
#li_fieldset_simplified .products-types li:hover { background-color: rgba(255, 237, 189, 0.6); }

#sf_admin_content #li_fieldset_simplified .simplified-top-block { display: block; }
#li_fieldset_simplified .content ul { list-style-type: none; }
#li_fieldset_simplified .content > ul { display: inline-block; width: 158px; min-height: 5em; vertical-align: top; max-height: 675px; overflow-y: auto; overflow-x: hidden; }
#li_fieldset_simplified .content > ul:last-child, #li_fieldset_simplified .content > ul:first-child { width: 310px; }

#li_fieldset_simplified .simplified-top-block > .bunch > li { background-color: rgba(255,237,189,0.4); border: 1px solid #A6C9E2; border-radius: 5px; padding: 3px; margin: 3px; }
#li_fieldset_simplified .simplified-top-block > .bunch > li:hover { background-color: rgba(255,237,189,0.6); }
#li_fieldset_simplified .simplified-top-block > .bunch > li .happens_at { white-space: nowrap; }
#li_fieldset_simplified .simplified-top-block > .bunch > li .category { font-weight: bold; display: block; }
#li_fieldset_simplified .simplified-top-block > .bunch > li > ul { display: none; text-align: left; margin-top: 4px; }
#li_fieldset_simplified .simplified-top-block > .bunch > li > :not(ul) { cursor: pointer; display: block; text-align: center; }
#li_fieldset_simplified .simplified-top-block > .bunch > li > ul > li { border-radius: 3px; padding: 6px; }
#li_fieldset_simplified .simplified-top-block > .bunch > li > ul > li.selected, #li_fieldset_simplified .simplified-top-block > .bunch > li > ul > li:hover { background-color: rgba(255,237,189,1); }
#li_fieldset_simplified .simplified-top-block > .bunch > li > ul > li.selected { border: 1px solid #A6C9E2; color: red; }
#li_fieldset_simplified .simplified-top-block > .bunch input[type=radio] { display: none; }
#li_fieldset_simplified .simplified-top-block > .bunch > li { -moz-user-select: none; user-select: none; cursor: default; }
#li_fieldset_simplified .simplified-top-block > .bunch.in-progress { background-color: rgba(114, 159, 207, 0.7); background-image: url("../images/wait.png"); background-repeat: no-repeat; background-position: center center; }

#li_fieldset_simplified .prices button, #li_fieldset_simplified .payments button { width: 100%; min-height: 2.5em; }
#li_fieldset_simplified .prices li:not(:last-child) button, #li_fieldset_simplified .payments li:not(:last-child) button { margin-bottom: 5px; }
#li_fieldset_simplified .payments input { width: 95%; margin-bottom: 5px; text-align: center; }

#li_fieldset_simplified .cart li { padding: 3px; margin: 3px; border: 1px solid #A6C9E2; border-radius: 3px; text-align: left; -moz-user-select: none; user-select: none; cursor: default; }
#li_fieldset_simplified .cart li:not(.end):not(.sold):hover { background-color: rgba(255,237,189,0.6); }
#li_fieldset_simplified .cart .item.sold { background-color: #E8E8E8; }
#li_fieldset_simplified .cart .item.cancelled { border-style: dashed; opacity: 0.5; }
#li_fieldset_simplified .cart .category { font-weight: bold; display: block; }
#li_fieldset_simplified .cart .item a, #li_fieldset_simplified .cart .item span { display: block; text-decoration: none; }
#li_fieldset_simplified .cart .qty, #li_fieldset_simplified .cart .product, #li_fieldset_simplified .cart .price, #li_fieldset_simplified .cart .value { font-size: 90%; }
#li_fieldset_simplified .cart .declination, #li_fieldset_simplified .cart .extra-taxes { font-size: 60%; }
#li_fieldset_simplified .cart .extra-taxes { display: block; }
#li_fieldset_simplified .cart li > div { display: inline-block; }
#li_fieldset_simplified .cart .left { margin-right: 0.6em; width: 8em; overflow: hidden; white-space: nowrap; }
#li_fieldset_simplified .cart .left > * { text-overflow: ellipsis; overflow: hidden; }
#li_fieldset_simplified .cart .right { text-align: right; width: 3.5em; }
#li_fieldset_simplified .cart .end .value { font-weight: bold; }
#li_fieldset_simplified .cart .paid .payment { display: block; font-size: 60%; padding: 2px; }
#li_fieldset_simplified .cart .paid .payment form { display: inline-block; }
#li_fieldset_simplified .cart .paid .payment form a { font-size: 0; display: block; width: 18px; height: 18px; margin-bottom: -2px; }
#li_fieldset_simplified .cart .paid .payment:hover { background-color: rgba(255,237,189,0.6); border-radius: 3px; }
#li_fieldset_simplified .cart .total .qty { display: none; }
#li_fieldset_simplified .cart .print button { width: 100%; min-height: 3em; font-size: 85%; }

#sf_admin_content .li_fieldset #li_transaction_field_new_transaction.simplified, #sf_admin_content .li_fieldset #li_transaction_field_contact_id.simplified { position: absolute; z-index: 11; }
#sf_admin_content .li_fieldset #li_transaction_field_new_transaction.simplified { right: 11px; width: 90px; }
#sf_admin_content .li_fieldset #li_transaction_field_new_transaction.simplified a { width: 10px; height: 30px; }
#sf_admin_content .li_fieldset #li_transaction_field_contact_id.simplified { left: 493px; top: 1px; width: 365px; height: 44px; border-bottom: 1px solid rgb(166, 201, 226); border-radius: 5px; font-size: 150%; padding-top: 12px; }
#li_fieldset_simplified .header .contact { display: none; }
