#checkpoint ul { list-style-type: none; margin: 5px 10px; padding: 5px; }
#checkpoint ul li { padding: 0 5px; margin: 0; }
#checkpoint label { width: 100px; display: inline-block; }
#checkpoint .control-comment { display: none; }
#checkpoint .control-comment textarea { height: 40px; }
#checkpoint select { max-width: calc(100% - 120px); }

.control { margin: 10px; padding: 5px; position: relative; overflow: hidden; transition: height 0.5s; }
.control .message { font-weight: bold; display: inline-block; }
.control h2 { display: inline-block; margin-right: 10px; }
.control .tickets > * > * { display: block; margin-top: 10px; }
.control .tickets .ticket .value, .control .tickets .seat .num { font-size: 120%; font-weight: bold; }
.control .tickets .ticket .users:before { content: '('; }
.control .tickets .ticket .users:after { content: ')'; }
.control.ui-state-success { background-color: #ecfeed; }
.control .contacts { margin-top: 10px; }
.control .contacts hr:first-child { border: 0; margin: 0; }
.control .contacts hr { clear: both; }
.control .contacts .flash { font-weight: bold; margin: 5px 0; border: 1px dotted; }
.control .contacts .comment { font-style: italic; }
.control .contacts .professional { margin-top: 5px; }
.control .contacts .image { float: left; margin-right: 10px; width: 150px; }
.control .contacts .image img { max-width: 150px; }

@media screen and (min-width: 1000px) {
  .control .contacts { position: absolute; margin-top: 0; top: 5px; right: 5px; width: calc(100% - 700px); }
}
@media screen and (max-width: 1000px) {
  #checkpoint select, #checkpoint input { font-size: 250%; }
}
