#integrate p {
  margin: 10px;
}


#batch-integrate .ui-widget-content {
  margin-top: 50px;
}
#batch-integrate label {
  width: 120px;
  display: inline-block;
}
#batch-integrate .radio_list {
  display: inline-block;
}
#batch-integrate .fg-button input {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: #2e6e9e;
  padding: 0;
}
#batch-integrate .fg-button {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 3px;
}
