#integrate p {
  margin: 10px;
}


#batch-integrate .ui-widget-content {
  margin: 7px 10px;
  padding: 5px;
}
#batch-integrate #import .ui-widget-content {
  margin-top: 50px;
}
#batch-integrate label {
  display: inline-block;
}
#batch-integrate .radio_list {
  display: inline-block;
}
#batch-integrate .fg-button input {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  color: #2e6e9e;
  padding: 0;
}
#batch-integrate .fg-button {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 3px;
}

#batch-integrate #pay .sf_admin_form_field_price_id {
  float: left;
  margin-right: 20px;
}
#batch-integrate #pay .sf_admin_form_field_payment_method_id {
  margin-top: 20px;
}

#batch-integrate .sf_admin_form_field_translation_workspaces input,
#batch-integrate .sf_admin_form_field_translation_prices input {
  width: 7em;
}
#batch-integrate #import .sf_admin_form_field_translation_workspaces,
#batch-integrate #import .sf_admin_form_field_translation_prices {
  width: 40%;
  float: left;
  margin-top: 0;
}
#batch-integrate #import .sf_admin_form_field_submit {
  clear: both;
}
