generator:
  class: sfDoctrineGenerator
  param:
    model_class:           MemberCardType
    theme:                 jroller
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          member_card_type
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields:
        value: { help: Global price }
        product_declination_id: { label: Product, help: This product will become the inner price of those member cards }
        price_id: { help: 'This price will be applied, as it is defined inside the product...' }
      list:
        display: [name,description, _value, _intern_value]
        sort: [name, asc]
        object_actions:
          _edit: ~
          _delete: ~
      filter:  ~
      form:
        display:
          NONE: [name, description, users_list]
          Money: [value, product_declination_id, price_id]
      edit:    ~
      new:     ~
