.checklist .clip { max-height: 375px; }
.checklist .description { display: block; }
.checklist .checkpoint, .checklist .checkpoint input { font-weight: bold; }
.checklist .view .checkpoint { display: block; }
.checklist .view .description span { display: none; }
.checklist .mod .owner, .checklist .mod .modifier { display: none; }
.checklist .owner, .checklist .modifier { font-size: 80%; }
.checklist .add, .checklist .submit { margin: 0 0 0 40px; padding: 0; }
.checklist input[type=text] { width: 170px; }
.checklist .add a {
  cursor: default;
  color: black;
  text-decoration: none;
  background-color: silver;
  border: 1px solid black;
  padding: 1px 10px 3px 10px;
}
.checklist label { font-size: 80%; }
.checklist textarea { height: 45px; }
.checklist .mod li { list-style-type: none; }
