/* affichage graphique de la jauge */
p.jauge {
	cursor: default;
	height: 25px;
}
p.jauge > span > span { margin-top: -8px; }
p.jauge span.command span {
	top: -8px;
	left: -5px;
}
p.jauge span.command {
	display: block;
	position: relative;
	top: 25px;
	height: 8px;
	background-color: #77f;
}
p.jauge span.booked { background-color: red; }
p.jauge span.prebooked { background-color: #ff9000; }
p.jauge span.free { background-color: green; }
p.jauge span.jauge.warn {
	color: green;
	font-weight: bold;
}
p.jauge span.jauge.err {
	color: red;
	font-weight: bold;
}
p.jauge span.jauge span.desc { margin-left: -4em; }
p.jauge span.desc {
	color: black;
	font-weight: normal;
}
p.jauge span + span.jauge { margin-left: 10px; }
p.jauge span.jauge { white-space: nowrap; }
p.jauge span > span.desc {
	display: none;
	position: absolute;
	cursor: default;
	border: 1px solid black;
	background-color: #fff77f;
	font-size: 90%;
	padding: 1px 2px;
	margin-top: 13px;
	margin-left: -5px;
	z-index: 1;
	max-width: 250px;
	font-size: 80%;
}
p.jauge span:hover > span.desc { display: inline; }

p.jauge span.prebooked span.contingents {
  border-bottom: 1px dotted black;
  height: 8px;
  margin-top: 9px;
  position: absolute;
  overflow: hidden;
}
p.jauge span.prebooked span.contingents span { border-right: 1px dotted black; }
