   	.left {
  		width: 110.8mm;
  		float: right;
  		text-align: left;
  		padding-left: 3mm;
   	}
   	.right {
   		text-align: right;
  		width: 34.2mm;
  		padding-right: 2mm;
	}
	.info { float: left; }
  	.right .info { float: right; }
  	.left .manifid { text-align: left; margin-right: 2mm; float: right; }
  	.right .manifid { text-align: right; margin-right: 2mm; float: left; }
