.email { display: table; }
.email p { display: table-row; }
.email p span { display: table-cell; }
.email p span:first-child { text-align: right; vertical-align: top; padding-top: 3px; }

.from, .to, .cci, .subject, .content, .submit {
  width: 800px;
  padding: 3px 5px;
  margin-left: 5px;
  -moz-border-radius: 3px;
}
.cci { height: 40px; }
.content { height: 230px; }
.submit { width: auto; }

.email.verify { margin-bottom: 20px; }
.email.verify p span:last-child {
  border: 1px solid black;
  background-color: #ccc;
}
.email.verify p span.submit { border: 0; background-color: transparent; }
textarea.view { width: 790px; height: 350px; }
