/* GENERAL */

body {
	font-family: verdana, arial;
	font-size: 13px;
}
h1 {
	font-size: 28px;
	margin: 20px 5px;
	padding: 0;
}

*[onclick] { cursor: default; }

div.body {
	position: relative;
	z-index: 1;
	background-color: white;
	padding: 2px 10px 10px 10px;
	min-height: 450px;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
body.indispo div.body {
	margin-top: 20px;
	border-top: 1px solid gray;
}
p.actions {
	position: relative;
	margin-bottom: -1px;
	z-index: 0;
	border-bottom: 2px solid gray;
	padding: 1px 10px;
	font-size: 11px;
}
p.actions a {
	border: 1px solid gray;
	border-bottom: 0px;
	padding: 1px 4px;
	margin: 0px 2px;
	text-decoration: none;
	background-color: #ddd;
}
p.actions a:hover { border-bottom: 1px solid #eee; background-color: #eee; }
p.actions a.nohref, p.actions a.inactive { cursor: default; color: black; }
p.actions a.inactive { color: gray; }
p.actions a.inactive:hover {
	border-bottom: 0px;
	background-color: #ddd;
}
p.actions a.active {
	background-color: white;
	border-bottom: 1px solid white;
}
p.actions a.parent {
	position: absolute;
	right: 20px;
	top: -1px;
	letter-spacing: 2px;
	padding-left: 5px;
	padding-right: 4px;
}
p.actions span.space {
	margin: 0 20px;
	cursor: default;
}
p.actions a.import,
p.actions a.add { margin-left: 20px; }

p.tree {
	border: 1px dashed gray;
	background-color: #abd9ff;
	padding: 3px 5px;
	margin: 0px;
}
p.tree span {
	font-size: 11px;
	padding: 0px 5px;
}
p.tree a.unlog {
	position: absolute;
	right: 20px;
}

a { color: #142cb4; }
a:visited { color: #142cb4; }
a:hover { color: #142cb4; }

input[type=checkbox]#checkall + span.desc,
p.or span.desc,
a.voir + span.desc,
p.add span.desc, p.del span.desc {
	display: none;
	cursor: default;
	background-color: #fff77f;
	position: absolute;
	margin-top: 25px;
	margin-left: -10px;
	padding: 0px 3px 2px 3px;
	border: 1px solid black;
	font-size: 85%;
}
p.or span:hover + span.desc,
p.del input:hover + span.desc,
p.add input:hover + span.desc,
input[type=checkbox]#checkall:hover + span.desc { display: inline; }
p.del input, p.add input { width: 2em; }

.onclick { cursor: default; }
span.mini { font-size: 66%; }
span.block { display: block; }

select {
	width: 12em;
	vertical-align: middle;
}
select[multiple=multiple] {
	vertical-align: baseline;
	width: 14em;
}
optgroup, option.cat {
	font-weight: normal;
	font-style: italic;
}
optgroup { margin-left: 4px; }
option.elt { margin-left: 1.25em; }

textarea, input, button {
	border: 1px solid black;
	font-family: verdana, arial;
	font-size: 12px;
}
textarea { font-size: 100%; }
input[type=text].number { text-align: right; }
input[disabled=disabled] { color: gray; }
input[type=text] {
	padding-right: 3px;
	padding-left: 3px;
	font-weight: normal;
}
input[type=submit], input[type=button], button { background-color: silver; }
input[readonly=readonly] { color: gray; }

p.offset_no { visibility: hidden; }
p.offset {
	font-size: 66%;
	text-align: center;
	color: gray;
}

.test { border: 1px solid red; }
p.years {
	width: 90%;
	text-align: center;
}

input[type=text].ajax {
	border: 0px;
	width: 4em;
	color: black;
}

.disable { display: none; }
.visi { color: red; }

select.titre { width: 5em; }

.npai .adresse { color: red; }
form.npai p.npai {
	font-weight: bold;
	text-decoration: blink;
}
form p.npai span span:after { content: ' ?'; }
form.npai p.npai span span:after { content: ' !'; }
ul li.npai { color: red; }
ul li.npai span { color: black; }

/* PARTICULAR */
form.personne ul.contacts, body.org ul.organismes,
body.evt ul.events, body.salle ul.salle,
body.bill ul.contacts
{ min-height: 80px; }
.search .organisme ul li span.id,
body.org ul.organismes span.id { display: none; }

form.ident { margin-top: 20px; }
form.ident span { display: block; }

form.parcelle input[type=text].number { width: 3em; }
form.parcelle textarea { width: 8em; }
form.users input { border: 1px solid black; }
form.users { display: table; }
form.users p { display: table-row; }
form.users p.title { font-weight: bold; }
form.users p span {
	display: table-cell;
	padding: 2px 5px;
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
}
form.users p span.desc, form.rea p span.parcelle { white-space: normal; }
form.users p.new span {
	padding-bottom: 10px;
	border-bottom: 1px dashed black;
}
form.multiple { display: table; }
form.multiple div { display: table-row; }
form.multiple div p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 3px;
}
form.multiple select {
	width: 30em;
	height: 15em;
}

form .exemple { color: #A0A0A0; }

body.search div.recherche {
	margin-bottom: 20px;
	width: 675px;
}
form.search p.nosuppl span.hide a:before { content: "plus d'"; }
form.search p span.hide a:before { content: "moins d'"; }
form.search p.nosuppl span.npai,
form.search p.nosuppl span.email,
form.search p.nosuppl span.adresse,
form.search p.nosuppl span.dates,
form.search p.nosuppl span.dates + span.inter
{ display: none; }
form.search p span {
	text-align: center;
	padding: 2px 0px;
}
form.search span.evenement + span.inter,
form.search span.ville + span.inter,
form.search span.email + span.inter,
form.search span.npai + span.inter,
form.search span.adresse + span.inter,
form.search span.dates + span.inter  {
	display: block;
	visibility: hidden;
	height: 0px;
}
form.search span.child input[type=text] { width: 5em; }
form.search span.evenement + span.inter,
form.search span.ville + span.inter,
form.search span.adresse + span.inter { height: 12px; }
form.search span.inter {
	padding: 0px 3px;
	font-weight: bold;
}
form.search span.hide {
	display: block;
	text-align: left;
	margin-top: 10px;
}
form.search span.hide a { cursor: pointer; }
form.search p.header { font-weight: bolder; display: none; }
form.search span span {
	font-weight: normal;
	font-size: 85%;
}
form.search p.or {
	margin-left: 275px;
	font-size: 120%;
	font-weight: bold;
}
form.search p.or input[type=button] {
	margin-left: 25px;
	min-width: 40px;
}
form.search p.or span.desc { font-weight: normal; font-size: 11px; }
form.search p.submit { margin-left: 150px; }
p.submit span.warning {
	display: block;
	text-decoration: underline;
}
form.search select { width: 10em; }
form.search select[multiple=multiple] { width: 12em; height: 5em; }
form.results p.nbresults { margin-left: 20px; }

div.contact p.global { white-space: nowrap; }
div.organisme p.email input[type=text], div.contact p.email input[type=text] { width: 300px; }
div.contact, div.organisme,
#googlemap, div.organismes, div.contacts, div.spectacles,
div.creation, div.infos, div.manifs, div.children, div.web,
form.salle div.gestion, form.salle div.details,
div.tel, div.more, form.extractor div p,
div.recherche {
	padding: 10px;
	border: 1px solid #364ed7;
}
div.organisme, div.contact {
	margin-top: 13px;
	width: 350px;
}
div.organisme p.description {
	font-size: 80%;
	border: 1px dashed silver;
	padding: 2px 4px;
}
div.contact p.global { white-space: nowrap; }

p.titre, form.extractor div p span.titre {
	position: absolute;
	margin-top: -20px;
	padding: 0px 5px;
	background-color: white;
	cursor: default;
}
p.titre {
	background-repeat: no-repeat;
	background-position: 4px center;
}
#googlemap p.titre, div.jqslide p.titre {
	background-image: url(../img/arrow-down.png);
	background-repeat: no-repeat;
	background-position: 4px center;
	padding-left: 16px;
}
div.jqhide p.titre { background-image: url(../img/arrow-side.png); }
form.extractor div p { width: 350px; }
form.extractor div p span { display: block; }
form.extractor div p.perso span.npai { font-style: italic; }
form.extractor div p.pro {
	position: absolute;
	margin-left: 415px;
	margin-top: -399px;
}
form.extractor div.org p.pro {
	position: static;
	margin: 0;
}
form.extractor div p.other {
	position: absolute;
	margin-left: 415px;
	margin-top: -113px;
}
form.extractor div p.system {
	position: absolute;
	margin-left: 415px;
	margin-top: -60px;
}
form.extractor { margin-top: 30px; }

p.global {
	font-weight: bold;
	font-size: 120%;
}

div.organismes p.entite select + a { margin-left: 10px; }
div.organismes p.entite select + a:hover + span { display: inline; }
div.organismes p.entite select + a + span {
	display: none;
	position: absolute;
	background-color: #fff77f;
	cursor: default;
	border: 1px solid black;
	font-size: 80%;
	padding: 1px 2px;
	max-width: 150px;
	margin: 20px 0 0 -80px;
	white-space: normal;
}
div.organismes p.entite select + a + span + select {
	width: 22em;
	display:block;
}
div.organismes, div.contacts,
form.personne #googlemap, body.org #googlemap {
	position: absolute;
	top: 16px;
	left: 450px;
	padding-right: 0px;
	background-color: white;
	z-index: 0;
}
div.organismes, div.contacts { width: 470px; }
div.organismes div.clip,
div.contacts div.clip {
	overflow: auto;
	width: 460px;
	max-width: 480px;
	max-height: 415px;
}

div.organismes p.fichemaj {
	position: absolute;
	margin-top: 20px;
	margin-left: -10px;
}
div.organismes div div, div.manifs div div {
	padding: 5px 0 10px 0;
	border-bottom: 1px dashed silver;
	width: 100%;
	display: table;
}
div.organismes div div p { display: table-row; }
div.organismes div div p span.typeinfo { width: 120px; }
div.organismes div div p.description span.typeinfo { vertical-align: top; }
div.organismes div div p.description span textarea { height: 3em; }
div.organismes div div p span {
	display: table-cell;
	padding-right: 5px;
	white-space: nowrap;
}
div.contacts div.clip p {
	margin: 0px;
	margin-bottom: 10px;
}

div.mod {
	display: none;
	position: absolute;
	top: 30px;
	margin-left: 350px;
	background-color: #f2f2f2;
	padding: 0 5px 5px 5px;
	border: 1px solid silver;
}
div.mod p { margin-left: 10px; }
div.mod > div {
	margin-top: 10px;
	border: 1px solid orange;
	width: 300px;
}
div.mod > div > p.titre {
	background-color: #f2f2f2;
	margin-top: -10px;
	margin-left: 5px;
}
div#more {
	position: absolute;
	top: 20px;
	margin-left: 345px;
	width: 20px;
	height: 20px;
	border: 1px solid orange;
}
div#more:hover + div.mod,
div.mod:hover { display: block; }

div.spectacles, div.more, div.tel, div.children {
	margin: 15px 0 10px 0;
	width: 350px;
}
div.children p.content { padding: 0; margin: 0; }
div.children input[type=text] { width: 50px; }
div.tel div { display: table; }
div.tel p.tel {
	display: table-row;
	margin: 0px;
}
div.tel p.tel span {
	display: table-cell;
	padding-right: 10px;
}
div.tel p span.type select {
	display: none;
	position: absolute;
	left: 30px; /* div.tel -> left + 30px */
	margin-top: 15px;
}
div.tel p span.type:hover select, div.tel p span.type:focus select
{
	display: inline;
	z-index: 5;
}

p.description, p.dates span {
	display: block;
	font-size: 80%;
}
p.dates span {
	color: gray;
}

body.champtype p.desc, form.mygroups p.desc, form.accounts li.desc {
	font-size: 75%;
	margin-bottom: 0px;
}
body.champtype p.desc + p, form.mygroups p.desc + p { margin-top: 0px; }

p.group span {
	display: block;
	max-width: 300px;
}
p.group span.new, p.group span.dynamic, p.group span.alluser { margin-bottom: 5px; }
p.group span.static, p.group span.dynamic,
p.group span.alluser, p.group span.name { margin-left: 15px; }
div.allgroups p { margin: 0; }

form.accounts ul.user {
	margin: 0;
	padding: 0;
}
form.accounts ul.user > li {
	list-style-type: none;
	border-bottom: 1px dashed gray;
	padding: 5px 0;
	width: 500px;
}
form.accounts ul.user li ul li { list-style-type: circle; }
form.accounts ul.user li.new { padding-left: 25px; margin-top: 1em; }
form.accounts ul.user li a { cursor: pointer; }
form.accounts ul.user li ul textarea { vertical-align: baseline; }
form.accounts ul.user li ul li.active span + span { display: block; margin-left: 3em; }

.nodisplay { display: none; }

fieldset.hidden { display: none; }

a.voir + span.desc { display: none; }
a.voir:hover + span.desc { display: inline; }

input[type=checkbox]#checkall {
	margin-left: 44px;
	margin-bottom: 0;
}

p.getpwd {
	text-decoration: blink;
	font-weight: bold;
}

form.change { display: table; }
form.change > p { display: table-row; }
form.change > p > span {
	display: table-cell;
	padding-bottom: 2px;
}
form.change > p > span + span { padding-left: 5px; }

p#archive {
	position: absolute;
	right: 20px;
	font-weight: bold;
}

/* geo-localisation */
body.org #googlemap, form.personne #googlemap {
	top: 55px;
	padding-right: 10px;
	background-color: white;
}
body.org #googlemap:hover, form.personne #googlemap:hover { z-index: 1; }
body.org #googlemap p.titre, form.personne #googlemap p.titre { background-image: url(../img/arrow-side.png); }
body.org #googlemap.nojs:hover p.titre, form.personne #googlemap.nojs:hover p.titre,
body.org #googlemap.open p.titre, form.personne #googlemap.open p.titre { background-image: url(../img/arrow-down.png); }
body.org #googlemap .clip, form.personne #googlemap .clip {
	height: 100px;
	overflow: hidden;
	background-color: white;
}
body.org #googlemap.nojs:hover .clip, form.personne #googlemap.nojs:hover .clip { height: 380px; }
body.org #googlemap.nojs .clip #map, form.personne #googlemap.nojs .clip #map { width: 470px; }
body.org #googlemap .clip #map, form.personne #googlemap .clip #map {
	width: 460px;
	height: 380px;
}
form.results #googlemap #map {
	height: 450px;
}

.model pre,
.model .fields .sys { font-size: 80%; }
